<%= govuk_details(summary_text: 'What are additional codes?') do %>
  <p class="govuk-body">
  Additional codes are used on the tariff for a number of purposes. The first character of the additional code determines the type of activity it is intended to influence.
  </p>
  <%= govuk_table(
        head: ['First character', 'Meaning'],
        rows: [
          ['2', 'These codes influence duties, providing preferential tariff treatment under certain circumstances'],
          ['3', 'These codes impact whether or not a prohibition is to be applied'],
          ['4', 'These codes impact whether or not a restrictive measure is to be applied'],
          ['8, A, B or C', 'These codes relate to exporting company for determining applicable anti-dumping or anti-subsidy duty.'],
          ['V', 'These codes impact which VAT rate is due'],
          ['X', 'These codes impact which excise rate is due'],
        ],
      ) %>
<% end %>
