<div class="desktop-only">
  <ul>
    <li class="section-li">
      <%= tag.p "Section #{section.numeral}: #{section}", class: %w[full-width] %>
    </li>
  </ul>
</div>

<div class="mobile-only">
  <ul>
    <li class="section-li">
      <%= tag.p "Section #{section.numeral}: #{section}", class: %w[full-width] %>
    </li>
  </ul>
</div>
