<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        There are no results matching your query.
      </strong>
    </div>

    <p>Please search again and consider:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>searching what the item is used for or made from</li>
      <li>broadening your search criteria</li>
      <li>checking your spelling</li>
      <li>browsing the <%= link_to 'A-Z of classified goods', a_z_index_path(letter: 'a') %></li>
    </ul>

    <h2 class="govuk-heading-s">Tips on searching for products</h2>

    <p>
      You need to know the details about your product and must accurately describe your item to use the search tool.
      This may include:
    </p>

    <ul class="govuk-list--bullet govuk-list">
      <li>the type of product</li>
      <li>the purpose of the product</li>
      <li>the materials used to make it</li>
      <li>the production methods used to make it</li>
      <li>the way it's packaged</li>
    </ul>

    <p>
      If you have an item made of 2 substances (for example, clothing that is 60% cotton and 40% polyester), you'd normally classify the item using the higher percentage content. There are exceptions, so check the relevant section and chapter notes for your goods in the tool.
    </p>

    <%= render 'shared/webchat_message/not_found' %>
  </div>
</div>
