<div id="search-filter-navigation"
  <nav>
    <% if applied_filter_classifications.any? %>
      <strong>
        Results are filtered by:
      </strong>
      <div class="facet-classifications-tag-container">
        <% applied_filter_classifications.each do |facet_classification_statistic|  %>
          <%= disapply_filter_link_for(facet_classification_statistic) %>
        <% end %>
      </div>
    <% end %>

    <% if unapplied_filter_classifications.any? %>
      <div class="govuk-accordion tariff-facet-classifications" data-module="govuk-accordion" id="accordion-default">
        <% unapplied_filter_classifications.each do |facet_filter_statistic| %>
          <div class="govuk-accordion__section tariff-facet-classification">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  <strong><%= facet_filter_statistic.display_name %></strong>
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <ul class="gem-c-contents-list__list">
                <% facet_filter_statistic.facet_classification_statistics.each do |facet_classification_statistic| %>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <%= filtered_link_for(facet_classification_statistic) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

    <%= render "search/guide_section", guide: guide if guide.present? %>
  </nav>
</div>
