<tr class="govuk-table__row">
  <th class="govuk-table__header"><%= chemical.cas_rn %></th>
  <td class="govuk-table__cell"><%= chemical.cus %></td>
  <td class="govuk-table__cell chemical-substance-cell"><%= chemical.name %></td>
</tr>
