<% content_for :back_link do %>
  <% back_link new_green_lanes_moving_requirements_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Tell us if your goods meet any exemptions</h1>
    <p class="govuk-body">
      Your goods may meet criteria for Category 1. However, more information is needed to determine the category of your goods.
    </p>
    <div class="govuk-inset-text">
      Check if your goods meet any exemptions. This will help to determine their category,
      and whether you can continue through the simplified process for internal market movements.
    </div>

    <%= render 'form', submit_form_url: applicable_exemptions_path %>

    <%= render '/green_lanes/shared/support_email_section' %>
  </div>
</div>
