<% assessments.each do |category, assessments_for_category| %>
  <h2>Category <%= category %> Assessments</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <%= render partial: 'green_lanes/category_assessments/category',
               collection: assessments_for_category %>
  </div>
<% end %>

<% if assessments.none?%>
  <h2>There are no Applicable Category Assessments</h2>
<% end %>
