<% if @goods_nomenclature.filter_by_category('1').any?%>
  <h2>Category 1 Assessments</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <%= render partial: 'green_lanes/category_assessments/category',
               collection: @goods_nomenclature.filter_by_category('1') %>
  </div>
<% elsif @goods_nomenclature.filter_by_category('2').any?%>
  <h2>Category 2 Assessments</h2>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <%= render partial: 'green_lanes/category_assessments/category',
               collection: @goods_nomenclature.filter_by_category('2') %>
  </div>
<% else %>
  <h2>There are no Applicable Category Assessments</h2>
<% end %>
