<% if assessments.any?%>
  <h2>Category <%= assessments.first.category %> Assessments</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <%= render partial: 'green_lanes/category_assessments/category',
               collection: assessments %>
  </div>
<% else %>
  <h2>There are no Applicable Category Assessments</h2>
<% end %>
