<% if assessments.flat_map(&:exemptions).any? %>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title"><%= title %></h2>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" href="<%= edit_path %>"></a>
      </div>
    </div>
    <div class="govuk-summary-card__content">
      <%= govuk_summary_list(rows: unique_exemptions(assessments).map { |exemption, category_assessment|
        {
          key: { text: hide_pseudo_code(exemption.code) },
          value: { text: exemption.formatted_description },
          actions: [{ href: (edit_path.presence || '#'), text: exemption_status(exemption, category, category_assessment) }],
        }
      }) %>
    </div>
  </div>
<% end %>
