<% unless assessments.flat_map(&:exemptions).empty? %>
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title"><%= title %></h2>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" href="<%= edit_path %>"></a>
      </div>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <% assessments.each do |category_assessment| %>
          <% category_assessment.exemptions.each do |exemption| %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"><%= exemption.code %></dt>
              <dd class="govuk-summary-list__value"><%= exemption.formatted_description %></dd>
              <dd class="govuk-summary-list__actions">
                <% if exemption_met?(category, category_assessment, @answers) %>
                  Exemption met
                <% else %>
                  Exemption not met
                <% end %>
              </dd>
            </div>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
