<span class="govuk-caption-xl">
  <%= t '.caption' %>
</span>

<h1 class="govuk-heading-l">
  <%= t '.title', trade_country_name: current_step.trade_country_name %>
</h1>

<p>
  <%= t '.body', scheme_title: current_step.scheme_title %>
</p>
