<span class="govuk-caption-xl">
  <%= t '.caption' %>
</span>

<h1 class="govuk-heading-l">
  <%= t '.title', trade_country_name: current_step.trade_country_name %>
</h1>

<div class="tariff-markdown">
  <div class="numbered-then-lettered-list">
    <%= govspeak remove_article_reference(current_step.verification_text) %>
  </div>
</div>

<%= render 'shared/origin_reference_document',
      origin_reference_document: current_step.origin_reference_document,
      article_match: find_article_reference(current_step.verification_text) \
      if find_article_reference(current_step.verification_text) %>
