<% content_for :title, t('.meta_title',  step: current_step.model_name.human) %>

<section id="rules-of-origin-<%= current_step.key %>">
  <%= link_to t('navigation.back'), step_path(wizard.previous_key), class: 'govuk-back-link' %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render current_step.key, current_step: current_step, wizard: wizard %>
    </div>

    <div class="govuk-grid-column-one-third">
      Step listing goes here
    </div>
  </div>
</section>
