*.log
.byebug_history
.direnv
.editorconfig
.env
.env.development
.env.test
.envrc
.erb-lint.yml
.git
.github
.markdownlint.yaml
.nix
.pre-commit-config.yaml
.rspec
.rubocop.yml
.ruby-lsp
.solargraph.yml
.tool-versions
.yarn-integrity
.dockerignore
.gitignore
.gitignore
CODEOWNERS
CONTRIBUTING.md
Dockerfile
Guardfile
LICENCE.md
Makefile
Procfile.dev
README.md
compose.yml
config/master.key
coverage/
dist/
doc/
flake.lock
flake.nix
log
node_modules
playwright-report/
playwright-config.js
public/assets
public/packs
public/packs-test
spec/
storage
terraform/
test-results/
tmp/
vendor/bundle
yarn-debug.log*
