.DS_STORE
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
coverage
spec/reports

# Cloud Foundry manifest files
*_manifest.yml

cf-ssh.yml
.idea/*
.env
.env.*.local

/public/packs
/public/packs-test
/public/assets
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

.nvimlog
.byebug_history

.direnv
.envrc

/app/assets/builds/*
!/app/assets/builds/.keep

# Playwright
/test-results
/playwright-report/
