---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
      - id: terraform_docs
        args:
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--path-to-file=README.md
          - --hook-config=--create-file-if-not-exist=true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^spec/vcr|vendor/|app/assets/images
      - id: end-of-file-fixer
        exclude: ^spec/vcr|vendor/|app/assets/images
      - id: check-yaml
        exclude: ^spec/vcr|vendor/|app/assets/images
      - id: file-contents-sorter
        files: '.env.development|.env.test'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-docker
        args:
          - "--ignore"
          - terraform
          - "--fix"

  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.6
    hooks:
      - id: rubocop
        args: ["--autocorrect"]

  - repo: https://github.com/rhysd/actionlint.git
    rev: v1.7.10
    hooks:
      - id: actionlint-docker

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your repo
        entry: bash -c '.github/bin/trufflehog'
        language: system
        stages: ["pre-commit", "pre-push"]
