<%= render layout: 'shared/date_picker', locals: { isInvalidDate: params[:invalid_date].present? } do %>
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s b">
  <h1 class="govuk-fieldset__heading">When are you planning to trade the goods?</h1>
</legend>
<div class="govuk-hint" id="find-commodity-hint">
  You can enter the date your goods will be traded. This is important, as commodities, duties and quotas
  change over time. Use the format day, month, year, for example 27&nbsp;3&nbsp;2021. If you don't enter a date,
  today's date is used.
</div>
<% end %>
