@use "src/settings/govuk" as govuk;

$tariff-white: #f0f0f0;
$chapter-code-bg: #d1d2e6;
$heading-code-bg: #b3d9ee;
$commodity-code-bg: #abeae5;
$table-header-bg: #e1e8e8;
$table-sub-border: govuk.govuk-colour("black", $variant: "tint-95");

$tariff-inset-background-color-meursing: #e9f4f9;
$tariff-inset-border-left-color-meursing: #098dc1;
$tariff-inset-background-color-information: govuk.govuk-colour("black", $variant: "tint-95");
$tariff-brand-colour: govuk.govuk-functional-colour("brand");
$tariff-border-colour: govuk.govuk-functional-colour("border");
$tariff-body-background-colour: govuk.govuk-functional-colour("body-background");
$tariff-focus-colour: govuk.govuk-functional-colour("focus");
$tariff-focus-text-colour: govuk.govuk-functional-colour("focus-text");
$tariff-input-border-colour: govuk.govuk-functional-colour("input-border");
$tariff-link-colour: govuk.govuk-colour("blue");
$tariff-link-hover-colour: govuk.govuk-functional-colour("link-hover");
$tariff-secondary-text-colour: govuk.govuk-functional-colour("secondary-text");
$tariff-text-colour: govuk.govuk-functional-colour("text");
$tariff-shadow-colour: govuk.govuk-colour("black");
$tariff-white-colour: govuk.govuk-colour("white");
$tariff-heavy-border-colour: govuk.govuk-colour("black", $variant: "tint-25");
$tariff-mid-border-colour: govuk.govuk-colour("black", $variant: "tint-50");
$tariff-subtle-border-colour: govuk.govuk-colour("black", $variant: "tint-80");
$tariff-muted-border-colour: govuk.govuk-colour("black", $variant: "tint-95");
$tariff-muted-background-colour: govuk.govuk-colour("black", $variant: "tint-95");
$tariff-modal-backdrop-colour: rgba($tariff-shadow-colour, 0.5);
$tariff-modal-control-hover-colour: rgba($tariff-shadow-colour, 0.25);
$tariff-modal-shadow-colour: rgba($tariff-shadow-colour, 0.5);
$tariff-popup-shadow-colour: rgba($tariff-shadow-colour, 0.2);

$coloured-commodity-code--first:  #e8e9f3;
$coloured-commodity-code--second: #d9ecf7;
$coloured-commodity-code--third:  #d5f5f2;

$shaded-panel-background-colour: #f6f6f6;
$coloured-panel-background-colour: #d2edf9;

$feature-panel-border-colour: #333;
$feature-panel-shaded-background-colour: #f0f4f5;
$feature-panel-border-left: #b1b4b6;

// deprecated colours
$highlight-colour: $tariff-muted-background-colour;
$panel-colour: $tariff-border-colour;
