<% step, answers = review_answer %>
<% key = step.key %>
<% answer = answers[step.key] %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key"><%= I18n.t("meursing_lookup.steps.#{key}.review_answer_label") %></dt>
  <dd class="govuk-summary-list__value"><%= answer %> %</dd>
  <dd class="govuk-summary-list__actions">
    <%= link_to('Change', step_path(key), class: 'govuk-link') %>
  </dd>
</div>

