<span class="govuk-caption-xl">Look up Meursing code</span>
<h1 class="govuk-heading-xl">Check your answers</h1>
<%= govuk_summary_list(rows: wizard.answers_by_step.map { |current_step, answers|
  key = current_step.key
  {
    key: { text: I18n.t("meursing_lookup.steps.#{key}.review_answer_label") },
    value: { text: "#{answers[current_step.key]} %" },
    actions: [{ href: meursing_lookup_step_path(key) }],
  }
}) %>
