$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$govuk-fonts-path: '~govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: '~govuk-frontend/dist/govuk/assets/images/';

@import 'govuk-frontend/dist/govuk/all';

// Third party
@import 'select2';
@import '../src/stylesheets/vendor/datepicker';
@import 'accessible-autocomplete';
@import '../src/stylesheets/vendor/accessible-autocomplete';
@import '../src/stylesheets/vendor/govuk_publishing_components/contents-list';
@import '../src/stylesheets/vendor/govuk_publishing_components/metadata';
@import '../src/stylesheets/vendor/govuk_publishing_components/print-link';

// 'legacy' GOVUK styles
// TODO not using this anymore:
@import '../src/stylesheets/legacy-grid-layout-conditionals';

@import '../src/stylesheets/fixes' ;

// Trade Tariff components
@import '../src/stylesheets/variables';
@import '../src/stylesheets/functions';
@import '../src/stylesheets/colors';
@import '../src/stylesheets/typography';
@import '../src/stylesheets/header';
@import '../src/stylesheets/form_customisations';
@import '../src/stylesheets/grid_extensions';
@import '../src/stylesheets/commodity-codes';
@import '../src/stylesheets/tariff-breadcrumbs';
@import '../src/stylesheets/sections-list';
@import '../src/stylesheets/tables';
@import '../src/stylesheets/measures';
@import '../src/stylesheets/a-z-index';
@import '../src/stylesheets/country-picker';
@import '../src/stylesheets/ancestors-tree';
@import '../src/stylesheets/commodity-tree';
@import '../src/stylesheets/popup';
@import '../src/stylesheets/search-results';
@import '../src/stylesheets/search';
@import '../src/stylesheets/index-page';
@import '../src/stylesheets/index-page-right-column';
@import '../src/stylesheets/feedback';
@import '../src/stylesheets/quota-search';
@import '../src/stylesheets/panel';
@import '../src/stylesheets/tariff-custom';
@import '../src/stylesheets/tariff-inset';
@import '../src/stylesheets/copy_code';
@import '../src/stylesheets/rules_of_origin';
@import '../src/stylesheets/simplified_procedural_values';
@import '../src/stylesheets/news_items' ;
@import '../src/stylesheets/markdown';
@import '../src/stylesheets/uk_overrides';
@import '../src/stylesheets/feature-panel';
@import '../src/stylesheets/switch_uk_xi_panel';
@import '../src/stylesheets/header_banner';
@import '../src/stylesheets/a-z-index';
@import '../src/stylesheets/help';
@import '../src/stylesheets/help_find_commodity';
@import '../src/stylesheets/measure-inset';
@import '../src/stylesheets/step-by-step-nav' ;
@import '../src/stylesheets/lists';
@import '../src/stylesheets/images';
@import '../src/stylesheets/downloadable-document';
@import '../src/stylesheets/help_popup';
@import '../src/stylesheets/govuk-frontend-extensions';
@import '../src/stylesheets/exchange_rates';
@import '../src/stylesheets/feedback_useful_banner';
@import '../src/stylesheets/feedback_banner';
@import '../src/stylesheets/notification_banner';
