<div class="app-guided-search-loading" role="status" aria-live="polite">
  <span class="govuk-caption-xl">UK Integrated Online Tariff</span>
  <h1 class="govuk-heading-l">Search for a commodity</h1>
  <p class="govuk-body">Collecting information...</p>
</div>
