<div class="interactive-result">
  <div class="interactive-result__content">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <%= result.formatted_classification_description %>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-2 govuk-!-text-colour-secondary">
      <%= result.formatted_self_text %>
    </p>
    <%= govuk_link_to "View this commodity code",
        commodity_path(result.goods_nomenclature_item_id, request_id: @search.request_id),
        new_tab: true %>
  </div>
  <div class="interactive-result__confidence">
    <%= render_confidence_meter(result.try(:confidence)) %>
  </div>
</div>
