<nav class="govuk-!-margin-bottom-9">
  <h3 class="govuk-visually-hidden govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-3">
    Measure groups
  </h3>
  <ul class="measure-list-item govuk-!-margin-bottom-0">
    <% grouped_measures_presenter.navigation_items.each do |item| %>
      <li class="govuk-!-margin-bottom-2">
        <%= govuk_link_to(item[:text], item[:anchor]) %>
      </li>
    <% end %>
  </ul>
</nav>
