<table class="small-table measures govuk-table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Measure type</th>

      <% unless local_assigns[:hide_duty_rate] %>
        <th>Duty rate</th>
      <% end %>

      <th>Conditions</th>
      <th>Exclusions</th>
      <th title="Opens in a new window">Legal base</th>
      <th>Date(s)</th>
      <th>Footnotes</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'measures/measure', collection: collection, locals: { hide_duty_rate: local_assigns[:hide_duty_rate] } %>
  </tbody>
</table>
