<table class="small-table measures govuk-table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Measure type</th>
      <th>Duty rate</th>
      <th>Conditions</th>
      <th>Exclusions</th>
      <th title="Opens in a new window">Legal base</th>
      <th>Date(s)</th>
      <th>Footnotes</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'measures/measure', collection: collection %>
  </tbody>
</table>
