<div class="govuk-inset-text govuk-inset-text--s feature-panel--shaded explainer">
  <%= image_tag('calculator.png') %>
  <p>The table below lists the customs duties that apply to the import of commodity <%= declarable_code %>.</p>

  <p>Use our <strong>tariff duty calculator</strong> to
    <%= link_to("work out the duties and taxes applicable to the import of commodity.", "/duty-calculator/#{service_choice}/#{declarable_code}/import-date") %>
  </p>
</div>
