<div class="measure-inset">
  <%= image_tag('calculator.png', alt: 'Tariff duty calculator') %>
  <div>
    <p>
      The table below lists the import duties that apply to the import of
      commodity <%= segmented_commodity_code declarable_code %>.
    </p>

    <p>
      Use our <strong>tariff duty calculator</strong> to

      <%= duty_calculator_link(declarable_code) %>
    </p>

    <p><%= I18n.t("measure_type_message")%></p>
  </div>
</div>
