<%- uk_import_measures = uk_declarable&.import_measures %>

<%= measure_inset(classes: 'vat-excise-panel') do %>
  <ul>
    <% vat_messages(uk_import_measures).each do |message| %>
      <li><%= message %></li>
    <% end %>

    <li><%= excise_message(uk_import_measures, segmented_commodity_code(declarable_code)) %></li>
  </ul>
<% end %>
