<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      You are not eligible for the simplified process for internal market movements
    </h1>

    <p class="govuk-body">
      <a href="" target="_blank" class="govuk-link">The simplified process for internal market movements (SPIMM) (opens in new tab)</a> is only available for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>goods in direct transport from Great Britain to Northern Ireland</li>
      <li>goods in free circulation in the United Kingdom</li>
      <li>goods intended to be sold to, or used by, end consumers in the UK, and therefore deemed not “at risk” of onward movement to the EU</li>
      <li>UK internal market scheme (UKIMS) authorised traders</li>
    </ul>

    <%# <p class="govuk-body"> %>
      <%# <a href="" target="_blank" class="govuk-link">Find out more about SPIMM (opens in new tab)</a> %>
    <%# </p> %>

    <p class="govuk-body">
      You can also <a href="https://www.gov.uk/check-how-to-import-export" target="_blank" class="govuk-link">check how to import or export goods (opens in new tab)</a> or find guidance on <a href="https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland" target="_blank" class="govuk-link">trading and moving goods in and out of Northern Ireland (opens in new tab).</a>

    </p>

    <a href="https://www.trade-tariff.service.gov.uk/xi/find_commodity" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-8 govuk-!-margin-top-6">Return to the UK Trade Tariff</a>
  </div>
</div>
