<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check the category of your goods
    </h1>

    <p>
      To use the simplified processes for Internal Market Movements you must:
    </p>


    <ul class="govuk-list govuk-list--bullet">
      <li>be a <a href="https://www.gov.uk/guidance/apply-for-authorisation-for-the-uk-internal-market-scheme-if-you-bring-goods-into-northern-ireland" target="_blank" class="govuk-link">UK Internal Market Scheme (UKIMS) authorised trader (opens in new tab)</a></li>
      <li>be transporting goods directly from Great Britain to Northern Ireland</li>
      <li>confirm goods are in free circulation in the UK</li>
      <li>confirm goods are intended to be sold to, or used by, end consumers in the UK, and therefore deemed <a href="https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu" target="_blank" class="govuk-link">'not at risk’ of moving to the EU (opens in new tab)</a>, including the Republic of Ireland</li>
      <li>check the category of your goods</li>
    </ul>

    <p>
      Based on the information you have provided, you can now check the category of your goods.
    </p>

    <p>
      This tool will help determine if your specific goods are:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <span class="govuk-!-font-weight-bold">Category 1:</span>
        not eligible for simplified processes and subject to full customs duties and checks
      </li>
      <li>
        <span class="govuk-!-font-weight-bold">Category 2</span> or
        <span class="govuk-!-font-weight-bold">Standard goods:</span>
        eligible for simplified processes
      </li>
    </ul>

    <p>
      Depending on the specific composition and origin of your goods, you may need to check if exemptions apply before your category can be determined.
    </p>

    <%= form_with url: green_lanes_your_goods_path, method: :get, local: true do %>
      <%= submit_tag "Continue", class: "govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-4" %>
    <% end %>
  </div>
</div>
