<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check the category of your goods
    </h1>

    <p>
      To use the simplified processes for Internal Market Movements you must:
    </p>

    <% items = [
      safe_join(['be a ', govuk_link_to('UK Internal Market Scheme (UKIMS) authorised trader', 'https://www.gov.uk/guidance/apply-for-authorisation-for-the-uk-internal-market-scheme-if-you-bring-goods-into-northern-ireland', new_tab: true)]),
      'be transporting goods directly from Great Britain to Northern Ireland',
      'confirm goods are in free circulation in the UK',
      safe_join(['confirm goods are intended to be sold to, or used by, end consumers in the UK, and therefore deemed ', govuk_link_to("'not at risk' of moving to the EU", 'https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu', new_tab: true), ', including the Republic of Ireland']),
      'check the category of your goods'
    ] %>
    <%= govuk_list items, type: :bullet %>

    <p>
      Based on the information you have provided, you can now check the category of your goods.
    </p>

    <p>
      This tool will help determine if your specific goods are:
    </p>

    <%= govuk_list [
      safe_join([tag.span('Category 1:', class: 'govuk-!-font-weight-bold'), ' not eligible for simplified processes and subject to full customs duties and checks']),
      safe_join([tag.span('Category 2', class: 'govuk-!-font-weight-bold'), ' or ', tag.span('Standard goods:', class: 'govuk-!-font-weight-bold'), ' eligible for simplified processes'])
    ], type: :bullet %>

    <p>
      Depending on the specific composition and origin of your goods, you may need to check if exemptions apply before your category can be determined.
    </p>

    <%= form_with url: green_lanes_your_goods_path, method: :get, local: true do %>
      <%= submit_tag "Continue", class: "govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-4" %>
    <% end %>
  </div>
</div>
