<p>
  <%= link_to 'Find out more about SPIMM',
              'https://www.figma.com/proto/k0Vb4ZCE5gjcsevbke0R6Q/Online-Tariff-Tool-%2F-GL?page-id=8705%3A50327&node-id=8677-13921&viewport=833%2C310%2C0.47&t=MoxrxfJbs0nHWIt5-1&scaling=min-zoom&content-scaling=fixed',
              class: 'govuk-link'
  %>
</p>
