<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= title %></h2>
    <div class="govuk-summary-card__actions">
      <a class="govuk-link" href="<%= edit_path %>"></a>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <% rows = [] %>
    <% if defined?(optional_rows) && optional_rows.include?(:category) %>
      <% rows << {
        key: { text: 'Category' },
        value: { text: (@category == '3' ? 'Standard goods' : "Category #{@category}") },
      } %>
    <% end %>
    <% rows << { key: { text: 'Commodity' }, value: { text: @commodity_code } } %>
    <% rows << {
      key: { text: 'Classification' },
      value: { text: render('/shared/classification', goods_nomenclature: @goods_nomenclature.get_declarable) },
    } %>
    <% rows << { key: { text: 'Non-preferential origin' }, value: { text: @country_of_origin } } %>
    <% rows << { key: { text: 'Date of movement' }, value: { text: @moving_date } } %>
    <%= govuk_summary_list(rows:) %>
  </div>
</div>
