<ol class="govuk-list govuk-list--number">
  <li>
    <%= link_to "Apply to become an authorised trader under the UK Internal Market Scheme (UKIMS)",
                "https://www.gov.uk/guidance/apply-for-authorisation-for-the-uk-internal-market-scheme-if-you-bring-goods-into-northern-ireland",
                target: "_blank"
    %>
  </li>
  <li>
    Prepare a submission for your internal market movement through services provided by
    the Trader Goods Profile (TGP), Trader Support Service (TSS) or individual customs agents.
  </li>
  <li>
    Complete the submission to HMRC, including the category of your goods and any exemption or additional codes that apply.
  </li>
</ol>
