<p class="govuk-body">
Category 1 goods are not eligible for the simplified process for internal market movements.
</p>

<p class="govuk-body">
You may be able to follow particular processes and procedures, such as completing a full customs declaration, to continue with the movement of goods from Great Britain to Northern Ireland.
</p>

<%= link_to "Find out more about trading and moving goods in and out of Northern Ireland <br> (opens in a new tab)".html_safe,
  "https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland", target: "_blank", class: "govuk-link"
%>
