<div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
    <h2 class="govuk-notification-banner__heading">
        Your goods are Category 2
    </h2>

    <p class="govuk-body">
        Your goods are eligible for the Simplified Process for Internal Market Movements
    </p>
    </div>
</div>
