<div class="govuk-notification-banner govuk-notification-banner--error" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
    <h2 class="govuk-notification-banner__heading">
        Your goods are Category 1
    </h2>

    <p class="govuk-body">
        You cannot continue through the simplified process for internal market movements.
    </p>
    </div>
</div>
