<tr class="govuk-table__row">
  <td class="govuk-table__cell numerical">
    <%= safe_join permutation.measure_conditions.map(&:document_code), ' + ' %>
  </td>

  <td class="govuk-table__cell">
    TBD
  </td>

  <td class="govuk-table__cell">
    TBD
  </td>
</tr>
