<span class='roo_explainer'>
<b>CC rule - change of chapter</b><br>
A product complies with the CC rule when all non-originating materials
used in its production are classified in a different HS chapter
than the product.
</span>
