<span class='roo_explainer'>
<b>CTH rule - change in tariff heading</b><br>
A product complies with the CTH rule when all non-originating materials
used in its production are classified in a different HS heading
than the product.
</span>
