<span class='roo_explainer'>
<b>CTSH rule - change in tariff subheading</b><br>
A product complies with the CTSH rule when all of the non-originating
materials used in its production are classified in a different
HS subheading than the product.
</span>
