<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <% if goods_nomenclature.instance_of?(GoodsNomenclature) %>
      <%= govuk_link_to(goods_nomenclature.description.html_safe, commodity_path(goods_nomenclature, day: nil, month: nil, year: nil), aria_describedby: "code-for-commodity-#{goods_nomenclature.id}", visually_hidden_suffix: "(code #{goods_nomenclature.code})") %>
    <% else %>
      <%= govuk_link_to(goods_nomenclature.description.html_safe, polymorphic_path(goods_nomenclature, day: nil, month: nil, year: nil), aria_describedby: "code-for-commodity-#{goods_nomenclature.id}", visually_hidden_suffix: "(code #{goods_nomenclature.code})") %>
    <% end  %>
  </td>

  <td class="govuk-table__cell text-right" id="code-for-commodity-<%= goods_nomenclature.id %>">
    <%= format_full_code(goods_nomenclature) %>
  </td>
</tr>
