<h4 class="govuk-heading-s">Bilateral cumulation</h4>

<div class="cumulation_description">
  <p>Bilateral cumulation operates between 2 countries or trading blocs where a trade agreement contains a provision allowing them to cumulate origin.</p>
  <p>Materials originating in either country or bloc in the trade agreement will be considered as materials covered by the rule of origin.</p>
</div>

<div class="govuk-inset-text">
  <p>The <%= scheme_title %> allows for bilateral cumulation with <%= countries %>.</p>
</div>

<div class="cumulation_description">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Bilateral cumulation - an example</span>
    </summary>
    <div class="govuk-details__text">
      <p><%= image_tag(asset_path("/images/cumulation/bilateral.png")) %></p>

      <ol class='govuk-list govuk-list--number'>
        <li>A company in country A would like to take advantage of the FTA with country B to receive 0% import duties
        on the import of goods which require 100% of the value to be originating.</li>
        <li>The goods are comprised of component parts that are sourced from both country A and country B</li>
        <li>As there is bilateral cumulation between the two countries and all component parts are sourced in either country A or country B, the goods can be considered as originating.</li>
        <li>Even if all the parts came from country A and were just assembled in country B, the rules would be met.</li>
      </ol>
    </div>
  </details>
</div>
