<h4 class="govuk-heading-s">Full cumulation</h4>

<div class="cumulation_description">
  <p>Full cumulation allows for the working or processing carried out on the materials that is more than insufficient in the countries participating in agreement to be considered as carried out in the final country of production.</p>
</div>

<div class="govuk-inset-text">
  <p>The <%= scheme_title %> allows for full cumulation with <%= countries %>.</p>
</div>

<div class="cumulation_description">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Full cumulation - an example</span>
    </summary>
    <div class="govuk-details__text">
      <p>Full cumulation allows for the working or processing carried out on the materials that is more than insufficient in the countries participating in agreement to be considered as carried out in the final country of production.</p>
      <p><%= image_tag(asset_path("/images/cumulation/full.png")) %></p>
    </div>
  </details>
</div>
