<h4 class="govuk-heading-s">Regional cumulation</h4>

<div class="cumulation_description">
  <p>Regional cumulation is a form of diagonal cumulation, which only exists under the Generalised Scheme of Preferences.</p>
</div>

<div class="govuk-inset-text">
  <p>The <%= scheme_title %> allows for full cumulation with <%= countries %>.</p>
</div>

<div class="cumulation_description">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Full cumulation - an example</span>
    </summary>
    <div class="govuk-details__text">
      <p>Regional cumulation is a form of diagonal cumulation, which only exists under the Generalised Scheme of Preferences.</p>
      <p><%= image_tag(asset_path("/images/cumulation/regional.png")) %></p>
    </div>
  </details>
</div>
