<span class='table-line'>
  Additional code: <strong><%= measure.additional_code.code %></strong>
</span>

<span class='table-line'>
  <%= sanitize measure.additional_code.formatted_description %>
</span>
