<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Total commodities uploaded: <%= number_with_delimiter(commodity_codes.total) %></h2>
  </div>
</div>
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-one-third">
    <div class="category_container">
      <strong>Errors from commodity upload:</strong>
      <br />
      <%= link_to number_with_delimiter(commodity_codes.invalid), invalid_myott_mycommodities_path %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="category_container">
      <strong>Expired commodity codes:</strong>
      <br />
      <%= link_to number_with_delimiter(commodity_codes.expired), expired_myott_mycommodities_path %>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class='category_container'>
      <strong>Active commodities:</strong>
      <br />
      <% if commodity_codes.active.zero? %>
        0
      <% else %>
        <%= link_to number_with_delimiter(commodity_codes.active), active_myott_mycommodities_path %>
      <% end %>
    </div>
  </div>
</div>
