<h4 class="govuk-heading-s">Changes to your measures</h4>

<% if changes.empty? %>
  <p class="govuk-body">No changes to measure on this date</p>
<% else %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Import/Export</th>
        <th class="govuk-table__header">Country</th>
        <th class="govuk-table__header">Commodities Affected</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
        <% changes.each do |change| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= change.trade_direction.capitalize %>
          </td>
          <td class="govuk-table__cell">
            <%= change.geographical_area_description %>
          </td>
          <td class="govuk-table__cell">
            <%= link_to(pluralize(change.count, 'commodity'), myott_grouped_measure_change_path(change.resource_id, as_of: params[:as_of])) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
