<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>On this page are errors from the spreadsheet you uploaded for your watch list.<br>These can include:</p>
    <ul>
      <li>The spreadsheet removing the first 0 in the codes for chapter 1 to 9</li>
      <li>Commodity codes not 10 digits long</li>
      <li>Commodity codes which have expired and are no longer in use</li>
    </ul>
    <p>You can choose to remove all these errors, remove them individually, or upload a new spreadsheet.</p>
    <h3>Total input errors: <%= number_with_delimiter(total_commodities_count, :delimeter => ',') %></h3>
    <p>You should remove invalid inputs if they have been actioned</p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Invalid input</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      <% @commodities.each do |commodity| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= commodity.try(:goods_nomenclature_item_id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate commodities %>
