<div class="govuk-grid-column-three-quarters-from-desktop no-changes-box">
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      Changes are not yet available for this date.
      <p class="govuk-!-font-weight-regular">
        You will be notified by email if changes to your active codes are available.<br>
        Most recent changes published on: <%= last_change_date.to_fs %>
      </p>
    </strong>
  </div>
</div>
