<div class="govuk-grid-column-three-quarters-from-desktop no-changes-box">
  <%= govuk_warning_text do %>
    Changes are not yet available for this date.
    <span class="govuk-!-font-weight-regular">
      You will be notified by email if changes to your active codes are available.<br>
      Most recent changes published on: <%= last_change_date.to_fs %>
    </span>
  <% end %>
</div>
