<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Your Category <%= category %> result is based on EU regulations
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <% assessments = @cas_without_exemptions.present? ? @cas_without_exemptions : @assessments.public_send("cat_#{category}_exemptions_not_met") %>

      <% assessments.each do |category_assessment| %>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <p>
              Annex IV of the Windsor Framework: "<%= category_assessment.theme.to_s %>"
            </p>

            <% if category_assessment.regulation_url.present? %>
              <%= link_to 'View EU Regulation document', category_assessment.regulation_url, class: 'govuk-link' %>
            <% end %>

            <p class='govuk-!-margin-top-4'>
              <%= @cas_without_exemptions.present? ? 'No exemptions available' : (category_assessment.exemptions.none? ? 'No exemptions available' : 'Exemptions not met') %>
            </p>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
