<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Category <%= category %>
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <% @assessments.public_send("cat_#{category}_exemptions_not_met").each do |category_assessment| %>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <p>
              Annex IV of the Windsor Framework: "<%= category_assessment.theme.to_s %>"
            </p>

            <p>[<%= category_assessment.regulation.description %>]</p>

            <% if category_assessment.regulation.regulation_url.present? %>
              <%= link_to 'View EU Regulation document', category_assessment.regulation.regulation_url, class: 'govuk-link' %>
            <% end %>

            <hr>

            <% if category_assessment.exemptions.none? %>
              <p class='govuk-!-margin-top-4'>No exemptions available</p>
            <% else %>
              <p class='govuk-!-margin-top-4'>Exemptions not met</p>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
