<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Your Category <%= category %> exemptions
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <div class="govuk-summary-list">
      <% @assessments.public_send("cat#{category}_with_exemptions").each do |category_assessment| %>
        <% category_assessment.answered_exemptions(@answers).each do |exemption| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= hide_pseudo_code(exemption.code) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= exemption.formatted_description %>
            </dd>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
