<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your goods are Standard Category
  </h1>
</div>

<p>
  This means that, based on the information you have provided, your goods can continue through the simplified process for internal market movements.
</p>

<p>Your goods are Standard Category because they are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>moving from Great Britain to Northern Ireland</li>
  <li>intended to be sold to, or used by, end consumers in the UK, and therefore deemed not 'at risk' of onward movement to the EU</li>
  <li>of UK Domestic Status</li>
  <li>free of import controls or licensing requirements</li>
  <li>not entering a customs duty suspense procedure</li>
</ul>

<h2 class="govuk-heading-m">What you should do next</h2>

<p>To move your goods under the simplified process for internal market movements, you’ll need to become an authorised trader under the UK Internal Market Scheme (UKIMS) (opens in a new tab). If you are not already, register <a href="registration_link" target="_blank" rel="noopener noreferrer">here</a>.</p>

<p>Next, prepare an Internal Market Enforcement Information (IMEI) submission using <a href="submission_link" target="_blank" rel="noopener noreferrer">submission guidelines</a>, or use the live support provided by HMRC’s Trader Support Service (TSS).</p>

<p>As part of the required IMMI submission, you’ll need to provide:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an EORI number</li>
  <li>your UKIMS authorisation</li>
  <li>your HMRC authorisation number, if relevant</li>
  <li>certificates, licenses and evidence applicable to your goods</li>
</ul>

<p>Find out more about the <a href="simplified_process_link" target="_blank" rel="noopener noreferrer">simplified process for internal market movements</a></p>

<h2 class="govuk-heading-m">About the categorisation of your goods</h2>

<p>You may need to apply the following codes or evidence when preparing your IMEI submission.</p>

<%= render 'green_lanes/shared/about_your_goods_card', title: 'Your movement of goods', edit_path: 'EDIT GOOD DETAILS PAGE' %>

<%= render_exemptions(@assessments, @category) %>
