<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your goods are Category 1
  </h1>
</div>

<p>
  This means that, based on the information you have provided, your goods can continue through the simplified process for internal market movements.
</p>

<p>Your goods are Category 1 because they are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>restrictions enforced by the Treaty on the Functioning of the European Union (TFEU)</li>
  <li>total bans or prohibitions</li>
  <li>trade defence measures</li>
  <li>union tariff rate quotas when claimed by the importer</li>
  <li>union quotas other than tariff rate quotas</li>
</ul>

<h2 class="govuk-heading-m">What you should do next</h2>

<p>You cannot continue through the simplified process for internal market movements with Category 1 goods.</p>

<p>
You may still be able to move your goods from Great Britain to Northern Ireland, unless certain conditions apply, such as goods being prohibited or from an origin with sanctions implemented. To move your goods you will need to follow a customs full declaration process.</p>

<a href="submission_link" target="_blank" rel="noopener noreferrer">Find out more about trading and moving goods in and out of Northern Ireland (opens in a new tab)</a></p>

<a href="submission_link" target="_blank" rel="noopener noreferrer">Find out more about the simplified process for internal market movements</a></p>

<h2 class="govuk-heading-m">About the categorisation of your goods</h2>

<%= render 'green_lanes/shared/summary_card', title: 'Your movement of goods', edit_path: 'EDIT GOOD DETAILS PAGE' %>

<%= render 'category_exemption_logic' %>
