<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Category 1
  </h1>
  <div class="govuk-panel__body">
    Goods are not eligible to move using the simplified processes for Internal Market Movements
  </div>
</div>

<p>
  Based on the information you have provided, your goods are determined to be Category 1.
</p>

<p>Category 1 goods are not eligible for the simplified processes for Internal Market Movements as they are subject to one or more of the following:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>restrictions enforced by Article 215 of The Treaty of the Functioning of the European Union (TFEU)</li>
  <li>total bans or prohibitions</li>
  <li>trade defence measures</li>
  <li>union tariff rate quotas when claimed by the importer</li>
  <li>union quotas other than tariff rate quotas</li>
</ul>

<p>
  <%= link_to 'Find out more about Internal Market Movements (opens in a new tab)',
              'http://www.gov.uk/guidance/internal-market-movements-from-great-britain-to-northern-ireland',
              target: '_blank', rel: 'noopener noreferrer'
  %>
</p>

<h2 class="govuk-heading-m">What you should do next</h2>

<p>
  Category 1 goods cannot move using simplified processes.
</p>

<p>
  Unless certain exemptions apply, for example if goods are prohibited or sanctioned,
  you may still be able to move your goods from Great Britain to Northern Ireland, subject to full customs processes.
</p>

<p>
  <%= link_to 'Find out more about trading and moving goods in and out of Northern Ireland (opens in a new tab)',
              'https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland',
              target: '_blank', rel: 'noopener noreferrer'
  %>
</p>

<h2 class="govuk-heading-m">About the categorisation of your goods</h2>

<p>
  You may need to supply the following information when preparing your declaration.
</p>

<%= render 'green_lanes/shared/about_your_goods_card',
            title: 'Your goods',
            optional_rows: [:category],
            edit_path: 'EDIT GOOD DETAILS PAGE'
%>

<%= render_exemptions(@assessments, @category) %>
