<% enquiry_form_page_title "Enquiry Form Confirmation" %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your form has been submitted
          </h1>
          <div class="govuk-panel__body">
            Your form reference number is:<br><strong>ABC123DEF</strong>
          </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          A member of our team will review and respond to your enquiry.  We aim to respond to all enquiries within 10 days.
        </p>
      </div>
    </div>
  </main>
</div>
