<article class="tariff">
  <div class="commodity-tree" data-controller="tree">
    <div class="tree-controls">
      <a href="#" data-tree-target="openAll" data-action="click->tree#openAll">Open all headings</a>
      <a href="#" data-tree-target="closeAll" data-action="click->tree#closeAll">Close all headings</a>
    </div>
    <div class="commodity-tree-note">
      <span>The number following each commodity's description is its commodity code.</span>
      <em class="description">Description</em>
      <div class="commodity-tree__additional-info">
        <em class="vat" id="commodity-vat-title">VAT</em>
        <em class="duty" id="commodity-duty-title">Third country duty</em>
        <em class="supplementary-units" id="commodity-supplementary-title">Supplementary unit</em>
        <em class="commcode">Commodity code</em>
      </div>
    </div>
    <ul class="commodities" data-controller='highlighter' data-highlighter-term-value='<%= params[:t] if params[:t].present? %>'>
      <%= render commodities, initial_indent: commodities.first&.number_indents %>
    </ul>
    <div class="tree-controls">
      <a href="#" data-action="click->tree#openAll">Open all headings</a>
      <a href="#" data-action="click->tree#closeAll">Close all headings</a>
    </div>
  </div>
</article>
