<% unless deriving_goods_nomenclatures.empty? %>
  <p>Goods previously classified under commodity <%= @commodity_code %> have been moved to the following codes:</p>

  <%= govuk_table do |table| %>
    <% table.with_head do |head| %>
      <% head.with_row do |row| %>
        <% row.with_cell(text: 'Classification') %>
        <% row.with_cell(text: 'Description') %>
        <% row.with_cell(text: 'Transfer date') %>
      <% end %>
    <% end %>

    <% table.with_body do |body| %>
      <% deriving_goods_nomenclatures.each do |goods_nomenclature| %>
        <% body.with_row do |row| %>
          <% row.with_cell do %>
            <%= govuk_link_to(goods_nomenclature.goods_nomenclature_item_id, polymorphic_path(goods_nomenclature)) %>
          <% end %>
          <% row.with_cell do %>
            <%= sanitize sanitize_quotes(goods_nomenclature.formatted_description) unless goods_nomenclature.formatted_description.nil? %>
          <% end %>
          <% row.with_cell(text: goods_nomenclature.validity_start_date&.to_formatted_s(:long)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
