<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= summary %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <% if defined?(origin_reference_document) && origin_reference_document %>
      <%  %>
      <%= govspeak remove_article_reference replace_ord_url content, origin_reference_document %>
      <%= render 'shared/origin_reference_document', origin_reference_document: origin_reference_document,
                                                    article_match: find_article_reference(content) if find_article_reference(content) %>
    <% else %>
      <%= defined?(content) ? content : yield %>
    <% end %>
  </div>
</details>
