<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-banner__inner govuk-footer__meta">
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Give feedback about this service</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Tell us about your experience using this service to help us improve it.</p>
    </div>
    <div class="govuk-footer__meta-item">
      <%= link_to 'Share your feedback', 'https://surveys.transformuk.com/s3/17fead99a348', class: 'govuk-button govuk-button--secondary', target: '_blank', rel: 'noopener' %>
    </div>
  </div>
</div>
