<div class="panel panel-border-wide govuk-panel panel--feedback" role="region" aria-labelledby="feedback-banner-beta-heading">
  <h2 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-2" id="feedback-banner-beta-heading">Give feedback about this service</h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
    Help us improve this service by
    <%= link_to 'giving your feedback (opens in a new link)', 'https://surveys.transformuk.com/s3/40f03c68329d', class: 'govuk-link', target: '_blank', rel: 'noopener noreferrer' %>.
  </p>
</div>
