<% if local_assigns[:show_divider] %>
  <div class="govuk-width-container">
    <%= govuk_section_break(size: 'l', visible: true, classes: 'feedback-useful-banner__divider') %>
  </div>
<% end %>

<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-banner__inner govuk-footer__meta">
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Is this page useful?</p>

      <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
          <%= govuk_button_link_to 'Yes', feedback_path_with_context(page_useful: 'yes'), secondary: true %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= govuk_button_link_to 'No', feedback_path_with_context(page_useful: 'no'), secondary: true %>
        </li>
      </ul>
    </div>
    <div class="govuk-footer__meta-item">
      <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
          <%= govuk_button_link_to 'Report a problem with this page', feedback_path_with_context, secondary: true, class: 'report-problem' %>
        </li>
      </ul>
    </div>
  </div>
</div>
