<% unless @feedback %>
  <div class="tariff-feedback-banner">
    <%= govuk_phase_banner(tag: { text: local_assigns.fetch(:tag_text, 'FEEDBACK') }) do %>
      Help us improve this service and <%= govuk_link_to 'give your feedback (opens in new tab)', feedback_link_url, **(subscriptions_page? ? {} : { target: '_blank', rel: 'noopener' }) %>.
    <% end %>
  </div>
<% end %>
