<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-container govuk-!-padding-4">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <p>Is this page useful?</p>
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'Yes', feedback_path(page_useful: 'yes'), class: 'govuk-button govuk-button--secondary' %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'No', feedback_path(page_useful: 'no'), class: 'govuk-button govuk-button--secondary' %>
        </li>
      </div>
      <div class="govuk-footer__meta-item">
        <li class="govuk-footer__inline-list-item">
            <%= link_to 'Report a problem with this page', feedback_path, class: 'govuk-button govuk-button--secondary report-problem' %>
        </li>
      </div>
    </div>
  </div>
</div>
