<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-banner__inner govuk-footer__meta">
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Give feedback about this service</p>
      <p class="govuk-body govuk-!-margin-bottom-0">Tell us about your experience using this service to help us improve it.</p>
    </div>
    <div class="govuk-footer__meta-item">
      <%= govuk_button_link_to 'Share your feedback', feedback_link_url, secondary: true, **(subscriptions_page? ? {} : { new_tab: govuk_visually_hidden('(opens in new tab)') }) %>
    </div>
  </div>
</div>
