<% unless @feedback %>
<% if @interactive_search_page %>
<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-container govuk-!-padding-4">
    <h2 class="govuk-heading-m">Give feedback about this service</h2>
    <p class="govuk-body">Tell us about your experience using this service to help us improve it.</p>
    <%= link_to 'Share your feedback', feedback_path, class: 'govuk-button', target: '_blank', rel: 'noopener noreferrer' %>
  </div>
</div>
<% else %>
<div class="feedback-useful-banner govuk-width-container">
  <div class="feedback-useful-container govuk-!-padding-4">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <p>Is this page useful?</p>

        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= link_to 'Yes', feedback_path(page_useful: 'yes'), class: 'govuk-button govuk-button--secondary' %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= link_to 'No', feedback_path(page_useful: 'no'), class: 'govuk-button govuk-button--secondary' %>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
              <%= link_to 'Report a problem with this page', feedback_path, class: 'govuk-button govuk-button--secondary report-problem' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
