<div class="flashes">
  <% notice_message = @notice || flash[:notice] %>
  <% if notice_message.present? %>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p><%= notice_message %></p>
      </div>
    </div>
  <% end %>

  <% alert_message = @alert || flash[:alert] %>
  <% if alert_message.present? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="<%= @div_id.present? ? "##{@div_id}" : '#' %>"><%= alert_message %></a></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
