<div class="hott-header-banner">
  <div class="govuk-width-container">
    <p>
      The UK has introduced new sanctions in relation to trade with Russia.
      For more details, see <a href="https://www.legislation.gov.uk/uksi/2022/195/contents/made" target="_blank">regulation 2022/195 (opens in new window)</a>.
      Further guidance on <a href="https://www.gov.uk/government/publications/russia-sanctions-guidance/russia-sanctions-guidance" target="_blank">Russia sanctions (opens in new window)</a> is available here.
    </p>
  </div>
</div>
