<div class="hott-header-banner">
  <div class="govuk-width-container">
    <p>
      New guidance has been published in regard to <a href="https://www.gov.uk/guidance/additional-duties-on-goods-originating-in-russia-and-belarus" target="_blank"> additional duties on goods originating in Russia and Belarus</a>.
    </p>
  </div>
</div>
