<div class="hott-header-banner">
  <div class="govuk-width-container">
    <p>
      The UK Government has announced a ban on exports to Russia of high-end luxury goods and additional duties on a number of Russian and Belarusian imports. The Online Tariff is being updated to reflect this. Further information: <a href="https://www.gov.uk/government/news/uk-announces-new-economic-sanctions-against-russia" target="_blank">UK announces new economic sanctions against Russia - GOV.UK (www.gov.uk)</a>. Also see <a href="https://www.gov.uk/guidance/tariffs-on-goods-imported-into-the-uk" target="_blank">further details of the goods affected by additional duties</a>.
    </p>
  </div>
</div>
