<div class="hott-header-banner">
  <div class="govuk-width-container">
    <p>
      The UK has introduced new sanctions in relation to trade with Russia. The
      Online Tariff is being updated to reflect these. In the meantime, details
      can be viewed in regulation
      <a href="https://www.legislation.gov.uk/uksi/2022/195/contents/made" target="_blank">2022/195</a>
      and further guidance is available
      <a href="https://www.gov.uk/government/publications/russia-sanctions-guidance/russia-sanctions-guidance" target="_blank">here</a>.
    </p>
  </div>
</div>
