<% unless @feedback %>
<div class="app-feedback-useful-banner">
  <div class="govuk-width-container">
    <div class="app-feedback-useful-banner__content govuk-!-padding-top-4 govuk-!-padding-bottom-4">
      <div class="app-feedback-useful-banner__text">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Give feedback about this service</h2>
        <p class="govuk-body govuk-!-margin-bottom-0">Tell us about your experience using this service to help us improve it.</p>
      </div>
      <%= link_to 'Share your feedback', feedback_link_url, class: 'govuk-button app-feedback-useful-banner__button', **(subscriptions_page? ? {} : { target: '_blank', rel: 'noopener noreferrer' }) %>
    </div>
  </div>
</div>
<% end %>
