<header>
  <span class="govuk-caption-xl">
    <span class="switch-service-control__caption">
      <%= trade_tariff_heading %>
    </span>

    <%= switch_service_button if show_switch_service %>
  </span>

  <% if heading.present? %>
    <h1 class="govuk-heading-l">
      <%= heading %>
    </h1>
  <% end %>

  <%= extra_content %>
</header>
