<header>
  <span class="govuk-caption-xl">
    <%= trade_tariff_heading %>
    <%= switch_service_button %>
  </span>

  <% if heading.present? %>
    <h1 class="govuk-heading-l">
      <%= heading %>
    </h1>
  <% end %>

  <%= extra_content %>
</header>
