<div class="hott-search-banner__container">
  <main class="govuk-width-container govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <h1 class="govuk-heading-l">
      Search the Online Tariff
    </h1>

    <%= form_tag perform_search_path, method: :get, class: "tariff-search" do |f| %>

      <div class="searchfield govuk-form-group search-header js-search-header">

        <div class="govuk-hint" id="hott-search-banner__q-hint">
           Enter the name of the goods or a commodity code. Commodity codes are
           10-digit numbers that classify goods so you can fill in declarations
           and other paperwork. You must use the right commodity code.
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half hott-search-banner__input-container">
            <fieldset class="govuk-fieldset govuk-search-input" aria-describedby="hott-search-banner__q-hint">
              <%= label_tag :q, search_label_text, class: 'govuk-label govuk-visually-hidden' %>
              <%= hidden_field_tag :q, @search.q, id: 'hott-search-banner__q-hidden', class: "js-commodity-picker-target" %>

              <div class="js-commodity-picker-select js-show"></div>
            </fieldset>
            <fieldset class="govuk-fieldset search-submit">
              <input class="govuk-button" type="submit" name="new_search" value="Search">
            </fieldset>
          </div>
        </div>
      </div>
    <% end %>
  </main>
</div>
