<% if is_switch_service_banner_enabled? %>
  <div class="tariff-breadcrumbs js-tariff-breadcrumbs clt">
    <nav>
      <p><%= switch_banner_bottom_copy %></p>
      <%= switch_service_button %>
    </nav>
  </div>
<% end %>
