<div class="tariff-breadcrumbs js-tariff-breadcrumbs clt govuk-!-font-size-16">
  <nav>
    <p>
      <%= link_to 'All sections', sections_path %>
    </p>

    <%= render partial: 'shared/tariff_breadcrumbs/section', locals: { section: section } %>
  </nav>
</div>
