<div class="feature-panel">
  <h2 class="govuk-heading-m">Advance tariff rulings</h2>
  <p class="govuk-body">
    For more help in classifying your commodity, you can
    <%= govuk_link_to('search for advance tariff rulings', 'https://www.tax.service.gov.uk/search-for-advance-tariff-rulings/search', new_tab: govuk_visually_hidden('opens in new tab')) %>
  </p>
  <p class="govuk-body">
    Advance tariff rulings allow you to get a legally binding decision on the
    commodity code to use when importing into or exporting goods.
  </p>

  <p class="govuk-body">
    Find out more about
    <%= govuk_link_to('advance tariff rulings', 'https://www.gov.uk/guidance/apply-for-an-advance-tariff-ruling', new_tab: govuk_visually_hidden('opens in new tab')) %>.
  </p>

  <p class="govuk-body">
    <%= govuk_link_to('Contact HMRC if you need help finding the right commodity code for your goods', 'https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods', new_tab: govuk_visually_hidden('opens in new tab')) %>.
  </p>
</div>

<div class="feature-panel last-feature-panel">
  <h2 class="govuk-heading-m">Check how to import or export goods</h2>

  <p class="govuk-body">
    Use the
    '<%= govuk_link_to('Check how to import or export goods', 'https://www.gov.uk/check-how-to-import-export', new_tab: govuk_visually_hidden('opens in new tab')) %>'
    service to get information about importing and exporting, including:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>how to register your business for trading</li>
    <li>which licences and certificates you need for your goods</li>
    <li>paying the right tax and duty for your goods</li>
    <li>how to make declarations for your goods to clear the UK border</li>
    <li>which paperwork you need to keep</li>
  </ul>
</div>
