<% content_for :head do %>
  <link rel='alternate' type='application/json' href='<%= sections_url(format: :json) %>' title='Section list in JSON format' />
<% end %>

<section class="sections">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">All sections</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">
          Section title
        </th>
        <th scope="col" class="govuk-table__header">Section</th>
        <th scope="col" class="govuk-table__header">Chapters</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render @sections %>
    </tbody>
  </table>
</section>


<!--
Tariff Updates:

<% @tariff_updates.each do |tariff_update| %>
<%= tariff_update %>
<% end %>
-->
