@use "src/settings/govuk" as govuk;

.a-z {
  ol.index {
    margin-bottom: 1.25em;

    @include govuk.govuk-media-query($until: tablet) {
      margin-bottom: govuk.govuk-spacing(6);
    }

    li {
      font-size: 24px;
      display: inline-block;
      margin-right: 0.6em;

      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
