@use "src/settings/govuk" as govuk;

.live-issues__card-meta,
.live-issues__card-issue {
  display: block;
}

.live-issues__card-meta {
  @include govuk.govuk-font($size: 16, $weight: regular);
}

.live-issues__commodity-list {
  display: flex;
  flex-wrap: wrap;
  gap: govuk.govuk-spacing(1) govuk.govuk-spacing(2);
}

.live-issues__markdown {
  a.govuk-link,
  .tariff-markdown a {
    color: govuk.govuk-colour("blue");
  }

  @at-root .tariff-markdown .live-issues__markdown a {
    color: govuk.govuk-colour("blue");
  }

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}
