@use "src/settings/govuk" as govuk;

.sections {
  @include govuk.govuk-media-query($until: tablet) {
    tr {
      display: block;
      padding-top: 0.63158em;
    }
    thead tr:first-child {
      display: none;
    }
    th {
      display: none;
    }
    td.numeral, td.chapters {
      display: inline;
      border-bottom: 0;
    }
    td.numeral::before {
      content: 'Section ';
    }
    td.numeral {
      padding-right: 0;
    }
    td.chapters::before {
      content: ' – Chapter ';
    }
    td.title {
      display: block;
      border-bottom: 0;
    }
    .govuk-table__row,
    .tariff-markdown table tr {
      border-bottom: 1px solid govuk.govuk-functional-colour(border);
    }
    @at-root .tariff-markdown table .sections tr {
      border-bottom: 1px solid govuk.govuk-functional-colour(border);
    }
    .govuk-table__row:first-child,
    .tariff-markdown table tr:first-child {
      padding-top: 0;
    }
    @at-root .tariff-markdown table .sections tr:first-child {
      padding-top: 0;
    }
  }
}
