<div class="rules-of-origin__find_out_more govuk-!-padding-bottom-2">
  <p>Origin allows for various policy measures to be implemented and for duties to be calculated.</p>
  <p>There are two types of origin, subject to different rules, which may affect your trade.</p>
  <p><a href="/howto/origin" class="govuk-link">Find out more about origin</a></p>
</div>
