<div class="import-trade-summary govuk-!-static-padding-bottom-2">
    <h3 class="govuk-heading-m">Preferential import duty rates</h3>

    <p>
      How rules of origin could affect the payable import duty:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li class="basic-third-country-duty">
          Basic third country duty =
            <%= import_trade_summary.basic_third_country_duty&.html_safe %>
        </li>

        <% if import_trade_summary.preferential_tariff_duty.present? %>
          <li class="preferential-tariff-duty">
            Preferential tariff duty =
              <%= import_trade_summary.preferential_tariff_duty.html_safe %>
          </li>
        <% end %>

        <% if import_trade_summary.preferential_quota_duty.present? %>
          <li class="preferential-quota-duty">
            Preferential quota duty =
              <%= import_trade_summary.preferential_quota_duty.html_safe %>
          </li>
        <% end %>

        <% if import_trade_summary.no_preferential_duties? %>
          <li class="no-preferential-duties">
            There is no preferential tariff duty or quota available for this commodity
          </li>
        <% end %>
    </ul>
</div>
