<div class="govuk-inset-text" id="rules-of-origin__intro--country-scheme">
  <p>
    In order to qualify for the lower or zero preferential tariff under the
    <strong><%= scheme.title %></strong>, the product must originate in the
    <%= rules_of_origin_service_name %> or <%= country_name %>.
  </p>

  <p>
    You do not need to apply for a preferential tariff (or comply with
    preferential rules of origin) if the MFN duty for your product is zero.
  </p>
</div>
