<div class="govuk-inset-text" id="rules-of-origin__intro--no-scheme">
  <p>
    There is no preferential agreement in place with <%= country_name %>,
    therefore rules of origin are not applicable.
  </p>
</div>
