<div class="govuk-inset-text tariff-inset-meursing">
  <p>The rules of origin wizard is new functionality.</p>
  <p>Your <%= link_to 'feedback', feedback_path %> will help us to improve it.</p>
</div>
