<div class="rules-of-origin__non-preferential">
  <h2 class="govuk-heading-m">
    Non-preferential rules of origin
  </h2>

  <p>
    <%= link_to 'https://www.gov.uk/government/publications/reference-document-for-the-customs-origin-of-chargeable-goods-eu-exit-regulations-2020' do %>
      Find out about the product-specific rules, to determine the origin of
      imports outside of a preferential agreement.
    <% end %>
  </p>
</div>
