<div class="rules-of-origin__non-preferential">
  <h3 class="govuk-heading-m govuk-!-margin-top-2" id="non-preferential-rules">
    Non-preferential rules of origin
  </h3>

  <p>Products with non-preferential rules of origin may incur commercial policy measures, such as:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>anti-dumping duties</li>
    <li>countervailing duties</li>
    <li>trade embargoes</li>
    <li>safeguarding measures</li>
    <li>quantitative restrictions</li>
    <li>tariff quotas</li>
  </ul>

  <p><a href="https://www.gov.uk/government/publications/reference-document-for-the-customs-origin-of-chargeable-goods-eu-exit-regulations-2020" class="govuk-link" rel="noreferrer noopener" target="_blank">View rules for determining non-preferential origin (opens in new tab)</a></p>

</div>
