<div class="rules-of-origin__non-preferential">
  <h3 class="govuk-heading-m govuk-!-margin-top-2" id="non-preferential-rules">
    Non-preferential rules of origin
  </h3>

  <p>Products with non-preferential rules of origin may incur commercial policy measures, such as:</p>

  <%= govuk_list [
    'anti-dumping duties',
    'countervailing duties',
    'trade embargoes',
    'safeguarding measures',
    'quantitative restrictions',
    'tariff quotas'
  ], type: :bullet %>

  <p><%= govuk_link_to 'View rules for determining non-preferential origin', 'https://www.gov.uk/government/publications/reference-document-for-the-customs-origin-of-chargeable-goods-eu-exit-regulations-2020', new_tab: true %></p>

</div>
