<div class="rules-of-origin__preferential">
  <h3 class="govuk-heading-m" id="preferential-rules">
    Preferential rules of origin
  </h3>
  <p>Products which meet all preferential rules of origin (for countries where the UK has trade agreements in place) may be eligible for reduced or zero duty rates.</p>
</div>
