<h3 class="govuk-heading-s">
  Rules under the <%= scheme.title %>
</h3>

<%= render 'rules_of_origin/product_specific_rules', rule_sets: scheme.rule_sets,
                                                     commodity_code: %>
