<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_warning_text(text: 'Select a country to check which tariff treatments apply.') %>
    <%= render 'rules_of_origin/find_out_more' %>
    <%= render 'rules_of_origin/preferential',
                country_name: '' %>
    <%= render 'rules_of_origin/non_preferential_uk' %>
  </div>
</div>
