.app-card {
  background-color: $highlight-colour;
  display: block;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  @include govuk-media-query(desktop) {
    min-height: 160px;
  }
}

.app-card p:last-child {
  margin-bottom: 0;
}
