@use "src/settings/govuk" as govuk;
@use "src/settings" as settings;

.app-card {
  background-color: settings.$highlight-colour;
  display: block;
  padding: govuk.govuk-spacing(4);
  margin-bottom: govuk.govuk-spacing(4);
  @include govuk.govuk-media-query(desktop) {
    min-height: 160px;
  }
}

.app-card p:last-child {
  margin-bottom: 0;
}
