@use "src/settings/govuk" as govuk;
@use "src/settings" as settings;
@use "govuk-frontend/dist/govuk" as govuk-frontend;

.chapter-code, .heading-code, .commodity-code {
  @include govuk.govuk-font($size: 16, $weight: normal);
  display: inline-block;
  position: relative;
  height: 1.5625em;
  float: left;
  @include govuk.govuk-media-query($from: tablet) {
    font-size: 16px;
  }
  > .code-text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: govuk.govuk-functional-colour(text);
    line-height: 30px;
  }
}
.chapter-code {
  background-color: settings.$chapter-code-bg;
  width: settings.$chapter-code-width;
  height: settings.$chapter-code-height;
  margin-right: govuk.govuk-spacing(1);
}
.heading-code {
  background-color: settings.$heading-code-bg;
  width: settings.$heading-code-width;
  height: settings.$chapter-code-height;
  margin-right: govuk.govuk-spacing(1);
}
.commodity-code {
  width: 101px;
  height: settings.$chapter-code-height;

  > .code-text {
    position: relative;
    width: 30px;
    background-color: settings.$commodity-code-bg;
    height: 30px;
    line-height: 30px;

    & + .code-text {
      margin-left: govuk.govuk-spacing(1);
    }
  }
}

.search-results .commodity-code .code-text + .code-text {
  margin-left: 2px;
}

.commodity-rules-of-origin {
  thead th:nth-of-type(1) {
    width: 15%;
  }

  thead th:nth-of-type(2) {
    width: 35%;
  }
}

.segmented-commodity-code {
  @include govuk.govuk-media-query($from: tablet) {
    span {
      padding: 0 0.12em;
    }

    &--coloured {
      @include govuk.govuk-font($size: false);
      font-size: 14px;
      font-family: 'Azeret Mono', 'Courier New', Courier, monospace;

      span {
        color: govuk.govuk-functional-colour(text);
        padding: 0.17em 0.25em;
        margin-right: 0.16em;

        &:nth-of-type(1) {
          background-color: settings.$coloured-commodity-code--first
        }

        &:nth-of-type(2) {
          background-color: settings.$coloured-commodity-code--second
        }

        &:nth-of-type(3) {
          background-color: settings.$coloured-commodity-code--third
        }
      }
    }
  }
}

.footnote-list {
  ol {
    @include govuk.govuk-responsive-margin(1);
  }

  ul {
    li {
      margin-bottom: 0.5em;
    }
  }
}
