@use "src/settings/govuk" as govuk;
@use "src/settings" as settings;

.feature-panel {
  @include govuk.govuk-responsive-padding(3);

  border-bottom: 1px solid settings.$feature-panel-border-colour;
  margin-bottom: 1em;

  &.last-feature-panel {
    border: 0;
  }

  &.no-bottom-border {
    border-bottom: 0;
  }

  &--shaded {
    background-color: settings.$feature-panel-shaded-background-colour;
  }
}
