@use "src/settings/govuk" as govuk;

.govuk-header .tariff-header-banner {
  padding: govuk.govuk-spacing(3) 0 govuk.govuk-spacing(5) 0;
  border-top: 2px solid white;

  > .govuk-width-container > *:first-child {
    margin-top: 0;
  }

  p, div, h1, h2, h3 {
    color: govuk.govuk-colour("white");
  }

  p {
    @include govuk.govuk-font($size: 16);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    @include govuk.govuk-link-style-inverse;
  }

  @include govuk.govuk-media-query($from: tablet) {
    .govuk-width-container {
      padding: govuk.govuk-spacing(3) 0 ;
    }

    p {
      @include govuk.govuk-typography-weight-bold;
    }
  }
}
