#help_popup {
  background-color: $tariff-body-background-colour;
  border: 1px $tariff-heavy-border-colour solid;
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  width: 180px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  box-shadow: 0 3px 10px $tariff-popup-shadow-colour;
  display: none;
  z-index: 1;

  img {
    width: 24px;
    position: relative;
    top: 8px;
    padding-right: 2px;
  }

  p {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.25;
    margin: 0.75em;
  }
}
