@use "src/settings/govuk" as govuk;
@use "src/settings" as settings;

@include govuk.govuk-media-query($from: tablet) {
  .measure-inset {
    background-color: settings.$feature-panel-shaded-background-colour;

    border-left: 10px solid settings.$feature-panel-border-left;

    padding: govuk.govuk-spacing(3);
    margin-top: govuk.govuk-spacing(4);
    margin-bottom: govuk.govuk-spacing(4);
    clear: both;

    img {
      float: left;
      margin-right: 1em;
      margin-bottom: 2em;
    }

    p {
      font-size: 16px;
      margin-bottom: 0.5em;
    }

    & > img + div {
      margin-left: govuk.govuk-spacing(9);
    }
  }

  .vat-excise-panel {
    padding: govuk.govuk-spacing(1);

    li:not(:last-child) {
      margin-bottom: govuk.govuk-spacing(1);
    }

    ul {
      padding-left: 27px;
    }
  }
}

@include govuk.govuk-media-query($until: tablet) {
  .measure-inset img {
    display: none;
  }
}
