@use "src/settings/govuk" as govuk;
@use "src/settings" as settings;

.panel {
  text-align: left;
  padding: govuk.govuk-spacing(4) - govuk.$govuk-border-width;
  @include govuk.govuk-responsive-margin(6, "top");
  @include govuk.govuk-responsive-margin(6, "bottom");


  &--coloured {
    background-color: settings.$coloured-panel-background-colour;
  }

  &--grey {
    background-color: govuk.govuk-colour("black", $variant: "tint-95");
  }

  .govuk-warning-text {
    margin-bottom: inherit ;
  }
}

.panel-border-wide {
  border-width: 0 0 0 govuk.$govuk-border-width-wide;
  border-color: govuk.govuk-functional-colour(border);
}
