@use "src/settings/govuk" as govuk;

.tariff-breadcrumbs {
  position: relative;
  padding: 1em;
  margin: govuk.govuk-spacing(4) 0 govuk.govuk-spacing(7) 0;
  @include govuk.govuk-clearfix;

  background-color: govuk.govuk-colour("black", $variant: "tint-95");
}

.full-code {
  width: 181px;
  height: 30px;
  font-size: 16px;
  font-size: 1rem;

  @include govuk.govuk-media-query($from: tablet) {
    position: absolute;
    right: 0;
    top: 0;
  }

  >div {
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
  }

  .chapter-code,
  .heading-code {
    width: 30px;
    height: 30px;
  }

  .commodity-code {
    width: 111px;
    height: 30px;

    .code-text {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
    }
  }
}
