@use "src/settings" as settings;

.tariff-inset-meursing {
  background-color: settings.$tariff-inset-background-color-meursing;
  border-left: 10px solid settings.$tariff-inset-border-left-color-meursing;
}

.tariff-inset-information {
  background-color: settings.$tariff-inset-background-color-information;
}
