caption {
  margin: 0 0 2em;
}

table {
  margin-bottom: 2em;
}

tr {
  page-break-inside: avoid;
}

.tariff-search {
  display: none !important;
}

nav.trail {
  display: block !important;
  margin-bottom: 1em;
  border-bottom: black 1px solid;
}

article dd ul a {
  margin-top: 0;
}

.has_children ul.visuallyhidden {
  position: static;
  left: auto;
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a[href^="/"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  display: none;
}

#proposition-links {
  display: none;
}

.js-tabs.nav-tabs {
  display: none;
}

tr.hidden {
  display: none !important;
}

span.table-line {
  display: block !important;

  &+.table-line {
    margin-top: 0.5em !important;
  }
}

table.measures {
  border-collapse: collapse;

  td {
    border-collapse: collapse;
    border-bottom: 1px solid #000;
  }
}
