<% content_for :top_breadcrumbs do %>
<%= generate_breadcrumbs(
  t('breadcrumb.measure_list_for_imports_post_999l'),
  [
    [t('breadcrumb.home'), home_path],
    [t('breadcrumb.help'), help_path]
  ]
  )
%>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= page_header('Measure List for Imports Post 999L','Import Guidance') %>

    <p class="govuk-body-m">
      The document code 999L has been removed from all import measures from 1 February 2024 onwards. Replacement exemptions are appropriate for some measures and many of these are already available in CDS. We will update this document as changes are made around the removal of 999L.
      This notice clarifies the options for traders across relevant measures.

      The following measures have been updated in CDS already:
      <div class="govuk-list">
        <ul>
          <b>
            <li>350 Animal Health Certificate</li>
            <li>351 Health and Safety Executive Import Licensing Firearms and Ammunition (firearms and nuclear licensing)</li>
            <li>352 Attestation Document (Hops)</li>
            <li>355 HMI Conformity Certificate</li>
            <li>358 Home Office pre-cursor chemicals</li>
            <li>359 Ammonium nitrates</li>
            <li>360 Phytosanitary Certificates</li>
            <li>362 Controlled drugs</li>
            <li>363 Quarantine Release Certificate</li>
            <li>705 Torture equipment</li>
            <li>707 Ivory</li>
            <li>710 CITES</li>
            <li>712 IAS</li>
            <li>719 Illegal, Unreported and Unregulated Fishing (IUU)</li>
            <li>745 Cat and Dog fur</li>
            <li>746 Seal products</li>
            <li>748 Mercury</li>
            <li>750 Organic products</li>
            <li>755 Waste</li>
          </b>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      IMPORT MEASURES WHERE A REPLACEMENT FOR 999L IS STILL IN PROGRESS
    </h3>

    <p class="govuk-body-m">

      We will update this page and issue a new Stop Press to advise when it is live and ready for use

      <div class="govuk-list">
        <ul>
          <li><b>724</b> Fluorinated Gas</li>

        </ul>
      </div>
    </p>

    <h4 class="govuk-heading-s">
      The following lists the control and exemption options available on CDS for each relevant measure from 1 February 2024. Please also consult CDS declaration guidance and any relevant policy guidance:
    </h4>

    <h4 class="govuk-heading-s">
      Please note any condition/exemption codes marked with * are only available from 1 February 2024
    </h4>

    <h3 class="govuk-heading-s">
      Measure: 350  Animal Health Certificate
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9120:</b> Importation of animal pathogens Licence under the Importation of Animal pathogens Order 1980 (IAPO)</li>
          <li><b>912Y:</b> Exemption by virtue that these goods are deemed not covered by the importation of animal pathogens
          Licence under the Importation of Animal pathogens Order 1980 (IAPO).</li>

        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 351  Firearms
    </h3>

    <p class="govuk-body-m">
      The firearms measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9100:</b> Firearms: Open individual licence or Specific individual licence. Nuclear materials open individual licence or specific individual licence.</li>
          <li><b>9020:</b> This product is exempt as it is not a firearm.</li>
          <li><b>9026:</b> Firearms manufactured before 1 January 1900. Note - this exemption covers only DBT import licence requirements, but firearms may still be liable to domestic licencing requiring possession of an appropriate Firearms Certificate, Shotgun Certificate or Registered Firearms Dealer Certificate.</li>
          <li><b>9044:</b> Private import of a firearm/shotgun using a Firearms Certificate or Shotgun Certificate in lieu of an import licence.</li>

        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 351  Nuclear licensing
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9100:</b> Firearms: Open individual licence or Specific individual licence. Nuclear materials open individual licence or specific individual licence.</li>
          <li><b>*910Y:</b> Goods exempt from nuclear material import licence controls.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 352  Attestation Document (Hops)
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C001:</b> Attestation of Equivalence or EU certificate for the importation of hops and hop products into Great Britain.</li>
        </ul>
      </div>

    </p>

    <h3 class="govuk-heading-s">
      Measure: 355  HMI Conformity Certificate
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>N002:</b> Certificate of conformity with the GB marketing standards for fresh fruit and vegetables.</li>
          <li><b>N002:</b> Certificate of conformity with the GB marketing standards for fresh fruit and vegetables.</li>
          <li><b>920Y:</b> Certificate of Conformity not required; import / export of fresh horticultural products for industrial processing, animal feed or other non-food use.</li>
          <li><b>358</b> Home Office precursor chemicals</li>
          <li><b>9112:</b> Drugs Precursor Chemicals Individual Licence</li>
          <li><b>*911Y:</b> Goods exempt from the requirement to hold a Home Office licence for drugs precursor chemicals.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 359  Ammonium Nitrates
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9103:</b> Detonation resistance test certificate.</li>
          <li><b>9043:</b> Consignment exempt from control: a) for imports under Tariff Chapter 36, exempt from requirement to hold a GB Transfer Approval Document issued by the HSE, or b) for imports under Tariff chapter 28, the goods are not ammonium nitrate.</li>
          <li><b>9046:</b> HSE Certificate of exemption.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 360  Phytosanitary Certificate
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>N851:</b> Phytosanitary Certificate required for imports of regulated plants and plant products. For more information on these types of goods read Import plants and plant products from non-EU countries and Import plants and plant products from the EU.</li>
          <li><b>Y067:</b> Machinery is new.</li>
          <li><b>Y251:</b> Imports of vegetable materials not primarily used for plaiting without a phytosanitary certificate from any third country other than USA (import allowed).</li>
          <li><b>Y252:</b> Imports of vegetable products which are not fresh and/or chilled and/or whole without a phytosanitary certificate (import allowed).</li>
          <li><b>Y253:</b> Imports of passionfruit without a phytosanitary certificate (import allowed).</li>
          <li><b>Y254:</b> Import of nuts which are not fruit in the botanical sense without a phytosanitary certificate (import allowed).</li>
          <li><b>Y255:</b> Import of nuts which are not intended for sowing without a phytosanitary certificate (import allowed).</li>
          <li><b>Y256:</b> Imports of mangoes and guavas without a phytosanitary certificate (import allowed).</li>
          <li><b>Y257:</b> Imports of seed which are not for sowing without a phytosanitary certificate other than barley, oats, maize, sorghum, and millet from Argentina, Australia, Bolivia, Brazil, Chile, New Zealand, Uruguay (import allowed).</li>
          <li><b>Y258:</b> Imports of mangoes and guavas without a phytosanitary certificate (import allowed).</li>
          <li><b>Y259:</b> Imports of grains of rye, triticale or wheat without a phytosanitary certificate from any third country other than Afghanistan, India, Iran, Iraq, Mexico, Nepal, Pakistan, South Africa and the USA (import allowed).</li>
          <li><b>Y501:</b> Trees under 3 metres.</li>
        </ul>
      </div>

      Please also consult: Additional Information (AI) Statement Codes for Data Element 2/2 of the Customs Declaration Service (CDS) - GOV.UK (www.gov.uk)

    </p>

    <h3 class="govuk-heading-s">
      Measure: 362  Controlled drugs
    </h3>

    <p class="govuk-body-m">
      The measure coverage has been amended and the control has been removed from the following commodity codes:
      1211500000, 1211908610, 1302140000, 2903793010, 2906190010, 2906190020, 2906190040, 2906190050, 2906190060, 2914390015, 2914390025, 2914390030, 2914390050, 2914390060, 2914390080, 2916160000, 2916399013, 2916399015, 2916399020, 2916399023, 2916399025, 2916399028, 2916399030, 2916399035, 2916399041, 2916399043, 2916399048, 2916399050, 2916399053, 2916399055, 2916399057, 2916399070, 2916399073, 2916399075, 2916399085, 2921309940, 2921309950, 2921490030, 2921490035, 2921490040, 2921490060, 2922170000, 2922190010, 2922190020, 2922190030, 2922190040, 2922190045, 2922190053, 2922190060, 2922190065, 2922190075, 2922190080, 2922190085, 2922290020, 2922290025, 2922290030, 2922290063, 2922290065, 2922290067, 2922290070, 2922290073, 2922290075, 2922290080, 2922290085, 2922390010, 2922390020, 2922390030, 2922390035, 2922390040, 2924250000, 2924297005, 2924297012, 2924297015, 2924297017, 2924297019, 2924297020, 2924297023, 2924297025, 2924297030, 2924297032, 2924297035, 2924297036, 2924297037, 2924297040, 2924297045, 2924297046, 2924297052, 2924297053, 2924297055, 2924297062, 2924297064, 2924297067, 2924297070, 2924297073, 2924297075, 2924297085, 2924297087, 2924297088, 2924297089, 2924297091, 2924297092, 2924297093, 2924297094, 2924297097, 2928009010, 2928009013, 2928009018, 2928009023, 2928009025, 2928009028, 2928009030, 2928009033, 2928009040, 2928009045, 2928009048, 2928009050, 2928009055, 2928009075, 2928009080, 2930100000, 2930909812, 2930909815, 2930909816, 2930909817, 2930909821, 2930909822, 2930909823, 2930909825, 2930909826, 2930909827, 2930909830, 2930909832, 2930909833, 2930909835, 2930909838, 2930909840, 2930909843, 2930909845, 2930909850, 2930909853, 2930909855, 2930909860, 2930909864, 2930909868, 2930909877, 2930909878, 2930909879, 2930909880, 2930909881, 2930909889, 2930909893, 2930909894, 2930909895, 2930909896, 2930909897, 2932990010, 2932990013, 2932990015, 2932990018, 2932990023, 2932990025, 2932990027, 2932990028, 2932990033, 2932990043, 2932990045, 2932990047, 2932990050, 2932990053, 2932990065, 2932990080, 2932990085, 2933360000, 2933370000, 2933399909, 2933399910, 2933399911, 2933399912, 2933399915, 2933399918, 2933399921, 2933399924, 2933399925, 2933399927, 2933399928, 2933399931, 2933399932, 2933399933, 2933399935, 2933399935, 2933399936, 2933399937, 2933399938, 2933399942, 2933399946, 2933399947, 2933399948, 2933399952, 2933399955, 2933399957, 2933399959, 2933399960, 2933399961, 2933399962, 2933399964, 2933399965, 2933399967, 2933399968, 2933399970, 2933399971, 2933399973, 2933399976, 2933399977, 2933399978, 2933399979, 2933399985, 2933499025, 2933499030, 2933499045, 2933499070, 2933540000, 2933599529, 2933920000, 2933998005, 2933998006, 2933998007, 2933998008, 2933998009, 2933998011, 2933998012, 2933998013, 2933998014, 2933998015, 2933998016, 2933998018, 2933998019, 2933998020, 2933998021, 2933998022, 2933998023, 2933998024, 2933998027, 2933998030, 2933998032, 2933998033, 2933998034, 2933998036, 2933998037, 2933998038, 2933998040, 2933998041, 2933998042, 2933998045, 2933998046, 2933998047, 2933998048, 2933998053, 2933998054, 2933998055, 2933998056, 2933998058, 2933998059, 2933998061, 2933998063, 2933998067, 2933998068, 2933998071, 2933998072, 2933998073, 2933998075, 2933998078, 2933998081, 2933998082, 2934999010, 2934999012, 2934999015, 2934999016, 2934999018, 2934999020, 2934999021, 2934999022, 2934999023, 2934999024, 2934999025, 2934999026, 2934999027, 2934999028, 2934999030, 2934999035, 2934999037, 2934999039, 2934999041, 2934999042, 2934999043, 2934999044, 2934999049, 2934999056, 2934999059, 2934999060, 2934999061, 2934999062, 2934999063, 2934999064, 2934999066, 2934999067, 2934999068, 2934999071, 2934999074, 2934999075, 2934999077, 2934999078, 2934999079, 2934999080, 2934999083, 2934999084, 2934999085, 2934999086, 2934999087, 2934999088, 2937230000, 2939630000, 2939791000, 2939799010, 2939799020, 2939799030, 2939799040, 2939799050, 2939799060, 3004410000, 3004420000, 3004430000, 3502909000
    </p>

    <h3 class="govuk-heading-s">
      The measure options are:
    </h3>

    <p class="govuk-body-m">

      <div class="govuk-list">
        <ul>
          <li><b>9113:</b> Controlled Drugs Individual Licence</li>
          <li><b>*913Y:</b> Commodity is not covered by the Home Office Controlled Drug Licence requirements.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 363  Quarantine Release Certificate
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9115:</b> Quarantine Release Certificate.</li>
          <li><b>*991Y:</b> Bark free coniferous wood of qualifying origin.</li>
          <li><b>*992Y:</b> Non-coniferous wood of a non-regulated species, or non-coniferous wood of a regulated species from a qualifying origin.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 410  Veterinary control
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C640:</b> Common Health Entry Document for Animals (CHED-A) (as set out in Part 2, Section A of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261)).</li>
          <li><b>N853:</b> UN/EDIFACT certificates: Common Health Entry Document for Products (CHED-P) (as set out in Part 2, Section B of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261)) as transposed into UK Law.</li>
          <li><b>Y930:</b> Particular provisions: The declared goods are not concerned by Commission Decision 2007/275/EC and Commission Implementing Regulation (EU) 2019/2007 as transposed into UK Law.</li>
          <li><b>Y058:</b> Exemption by virtue of Article 7 of Commission Delegated Regulation 2019/2122 (Goods which form part of passengers' personal luggage and are intended for personal consumption or use). C084: Exemption by virtue of Articles 3 and 4 of regulation 2019/2122 (animals intended for scientific purposes, research, and diagnostic samples).</li>
        </ul>
      </div>

    </p>

    <h3 class="govuk-heading-s">
      Measure: 705  Torture equipment
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C064:</b> Authorisation for export or import of goods that could be used for torture (Regulation (EU) 2019/125).</li>
          <li><b>Y904:</b> Goods other than those described in the TR footnotes linked to the measure.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 707  Ivory
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>9028:</b> Defra ivory registration number.</li>
          <li><b>9029:</b> Defra ivory exemption certificate.</li>
          <li><b>9030:</b> Non-commercial imports.</li>
          <li><b>9037:</b> No registration or certificate required. Goods do not contain ivory.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 710  CITES
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C400:</b> Presentation of the required "CITES" Certificate.</li>
          <li><b>Y900:</b> declared goods do not belong to the Washington convention (CITES).</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 712  IAS
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C065:</b> Permit for invasive alien species in accordance with Art. 8 of Regulation (EU) 1143/2014.</li>
          <li><b>Y942:</b> The declared goods are not concerned by Commission Implementing Regulation (EU) 2016/1141.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 719  Illegal, Unregulated and Unreported (IUU) fishing
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C673:</b> Catch Certificate.</li>
          <li><b>Y927:</b> Catch Certificate not required - see footnote for exempted goods.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 745  Cat and dog fur (prohibition)
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure option is:

      <div class="govuk-list">
        <ul>
          <li><b>Y922:</b> Other than cats and dogs fur as mentioned by Regulation (EC) No 1523/2007 (OJ L 343) as transposed into UK law.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 746  Seal products
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C679:</b> Attesting Document (seal product), issued by a recognised body in accordance with UK regulations <a href="https://www.legislation.gov.uk/eur/2015/1850">www.legislation.gov.uk/eur/2015/1850</a> Regulation (EU) 2015/1850 as retained in UK law.</li>
          <li><b>C680:</b> Written notification of import and document giving evidence where the seal products were acquired.</li>
          <li><b>C683:</b> Attesting document for seal products resulting from hunt by Inuit or other indigenous communities for placing on the UK market in accordance with UK regulations [Article 3 (1) of <a href="https://www.legislation.gov.uk/eur/2009/1007">www.legislation.gov.uk/eur/2009/1007</a> Regulation (EC) No 1007/2009 on trade in seal products as retained in UK law.</li>
          <li><b>Y032:</b> Goods other than seal products listed in <a href="https://www.legislation.gov.uk/eur/2015/1850">www.legislation.gov.uk/eur/2015/1850</a> Regulation (EU) 2015/1850 as retained in UK law.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 747  FLEGT Timber licensing
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C690:</b> FLEGT import licence for timber.</li>
          <li><b>Y057:</b> Goods not requiring the presentation of a FLEGT import licence for timber.</li>
          <li><b>Y070:</b> Exemption from the requirement of presenting FLEGT licence by virtue of Article 4.3 of Council Regulation (EC) No 2173/2005.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 748  Mercury
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C071:</b> Form with written consent, pursuant to article 4(1) of Regulation (EU) 2017/852 of the European Parliament and of the Council [as retained in UK law] on mercury, to the import of mercury or of the mixtures of mercury listed in Annex I to that Regulation.</li>
          <li><b>Y924:</b> Goods not concerned by Regulation (EU) 2017/852 [As retained in UK law].</li>
          <li><b>Y969:</b> Mercury-added products essential for civil protection and military uses; or intended for research, calibration of instrumentation or for use as reference standard (Article 5 (2) of Regulation (EU) 2017/852 [As retained in UK law]).</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 750  Organic products
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:
      <div class="govuk-list">
        <ul>
          <li><b>C644:</b> Certificate of Inspection for Organic Products as referred to in Article 33(1)(d) of <a href="https://www.legislation.gov.uk/eur/2007/834">www.legislation.gov.uk/eur/2007/834</a> Regulation (EC) No 834/2007 as retained in UK law.</li>
          <li><b>Y929:</b> Goods not covered by EC Regulation 834/2007 (e.g., non-organic goods) as retained in UK law.</li>
        </ul>
      </div>
    </p>

    <h3 class="govuk-heading-s">
      Measure: 755  Waste
    </h3>

    <p class="govuk-body-m">
      The measure coverage is unchanged. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C669:</b> Notification document for import/export of hazardous or mixed notifiable waste. See Article 4 and Annex IA of Regulation (EC) No 1013/2006 as retained in UK law (<a href="www.legislation.gov.uk/eur/2006/1013/contents">www.legislation.gov.uk/eur/2006/1013/contents</a>).</li>
          <li><b>C670:</b> Movement document for import/export of hazardous or mixed notifiable waste. See Article 4 and Annex IB of Regulation (EC) No 1013/2006 as retained in UK law (<a href="www.legislation.gov.uk/eur/2006/1013/contents">www.legislation.gov.uk/eur/2006/1013/contents</a>).</li>
          <li><b>C672:</b> Information document for export of non-hazardous waste or imports of non-hazardous waste from EU. See Article 18 and Annex VII of Regulation (EC) No 1013/2006 as retained in UK law (<a href="www.legislation.gov.uk/eur/2006/1013/contents">www.legislation.gov.uk/eur/2006/1013/contents</a>)</li>
          <li><b>Y923:</b> Products not considered as waste according to Regulation (EC) No 1013/2006 as retained in UK law (<a href="www.legislation.gov.uk/eur/2006/1013/contents">www.legislation.gov.uk/eur/2006/1013/contents</a>).</li>
        </ul>
      </div>
    </p>

    <h2 class="govuk-heading-m">
      CHANGES IN PROGRESS
    </h2>

    <p class="govuk-body-m">
      These measure changes are not yet live in CDS. We hope this will provide advance notice for most codes that will be in use. We will amend this document as updates are accepted into CDS. Please note that until the codes are valid in CDS they cannot be used in a declaration.

      <div class="govuk-list">
        <ul>
          <li>Measure: 724  Fluorinated Gas</li>
        </ul>
      </div>
    </p>

    <p class="govuk-body-m">
      This measure has been updated. Please see <a href="https://www.gov.uk/guidance/import-export-or-manufacture-equipment-pre-charged-with-f-gas">www.gov.uk/guidance/import-export-or-manufacture-equipment-pre-charged-with-f-gas</a> for details. The measure options are:

      <div class="govuk-list">
        <ul>
          <li><b>C079:</b> Copy of the declaration of conformity - Option B, as referred to in Article 1.2 and in the Annex of Regulation (EU) 2016/879 (as retained in UK law)</li>
          <li><b>C082:</b> Copy of the declaration of conformity - Option C, as referred to in Article 1.2 and in the Annex of Regulation (EU) 2016/879 (as retained in UK law)</li>
          <li><b>Y053:</b> Goods not concerned by labelling requirements on fluorinated greenhouse gases as referred to Article 12, paragraph 1 of Regulation (EU) No 517/2014 (as retained in UK law and as applicable in Great Britain)</li>
          <li><b>Y054:</b> Goods labelled according to the provisions of Article 12, paragraph 1 of Regulation (EU) No 517/2014 (as retained in UK law and as applicable in Great Britain)</li>
          <li><b>*Y120:</b> Importer declares that 100 tonnes carbon dioxide equivalent has not been exceeded for this or other imports in the calendar year. See footnote CD762.</li>
          <li><b>*Y123:</b> Undertaking declares that they are registered for the GB FGas Service. See footnote.</li>
          <li><b>*Y124:</b> Undertaking declares that they do not need to be registered for the GB FGas Service to comply with reporting requirements. See footnote.</li>
          <li><b>Y125:</b> Goods declared are bulk gases containing Hydrofluorocarbons (HFCs) and require quota to be imported. See footnote CD764.</li>
          <li><b>Y926:</b> Goods not concerned by import prohibition on fluorinated greenhouse gases (as retained in UK law and as applicable in Great Britain)</li>
          <li><b>Y950:</b> Goods other than pre-charged equipment with hydrofluorocarbons (as retained in UK law and as applicable in Great Britain)</li>
          <li><b>Y951:</b> Exemptions from the Reduction of the quantity of Hydrofluorocarbons placed on the market by virtue of Article 15.2 of Regulation (EU) No 517/2014 (as retained in UK law and as applicable in Great Britain)</li>
          <li><b>*Y955:</b> Goods where trifluoroethane has been recovered or destroyed during their manufacture. See footnote.</li>
          <li><b>*Y956:</b> Goods declared are not bulk gases containing Hydrofluorocarbons (HFCs) and do not require quota to be imported. See footnote.</li>
          <li><b>*Y976:</b> Undertaking declares that they do not need to be registered for the GB FGas Service to comply with quota requirements. See footnote.</li>
          <li><b>*Y986:</b> Goods that are covered by an eco-design or military exemption. See footnote.</li>
          <li><b>*9065:</b> Refrigeration, Air Conditioning and Heat Pump equipment (RACHP) for destruction. Goods do not require a Declaration of Conformity with GB FGas Quota in accordance with Fgas legislation. See Trade Tariff footnote.</li>
          <li><b>*9066:</b> Undertaking declares goods are imported directly to Northern Ireland. Goods are to be placed directly on the market in Northern Ireland and are not released for free circulation in Great Britain. See Trade Tariff footnote.</li>
        </ul>
      </div>

      Please also consult: Additional Information (AI) Statement Codes for Data Element 2/2 of the Customs Declaration Service (CDS) - GOV.UK (www.gov.uk)
    </p>

  </div>

  <div class="govuk-grid-column-one-third noprint">
      <%= render partial: "/pages/howto_sidebar_links" %>
    </div>
</div>
