<%= back_link (request.referer || find_commodity_path), javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render @glossary.page %>
  </div>
</div>
