<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.privacy'),
      [
        [t('breadcrumb.home'), home_path]
      ]
    )
  %>
<% end %>

<%= page_header 'Privacy notice' %>

<p class="govuk-body-l">
  This notice explains how HM Revenue & Customs (HMRC) will use your personal data in relation to the UK Integrated Online Trade Tariff (OTT) service and associated services and features. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).
</p>
<p class="govuk-body-l">
  You should also read the main <a href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" target="_blank">HMRC privacy notice</a> alongside this service-specific notice:
</p>

<h2 class="govuk-heading-m">
  How we use your data
</h2>

<p>HMRC collect and use your personal data to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>provide support to users of the '<%= service_name %>'</li>
  <li>send tailored tariff update alerts to registered users of the Stop Press Tariff Update notification service </li>
  <li>collect and analyse web analytics data to monitor and improve our services </li>
</ul>

<h2 class="govuk-heading-m">The data we will process</h2>

<p>For web analytics:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>cookie identifiers</li>
  <li>how you got to our service</li>
  <li>which links you click</li>
  <li>time spent on the service</li>
</ul>

<p class="govuk-body">For support:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name</li>
  <li>email address</li>
  <li>telephone number (if provided)</li>
  <li>details of your support issue</li>
</ul>

<p>For the Stop Press Tariff Update notification service:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your email address (used for registration and notifications) </li>
  <li>your selected preferences (e.g. tariff chapters you wish to be notified about)/li>
</ul>

<h2 class="govuk-heading-m">The legal basis for processing your data </h2>

<p>The legal basis for processing your personal data is:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>for web analytics: your consent, provided via cookie settings</li>
  <li>to support HMRC’s public task under UK GDPR Article 6 (1)(e)</li>
</ul>

<h2 class="govuk-heading-m">Who we share your data with</h2>

<p>
  Your data may be shared with:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>HMRC teams for service delivery and support</li>
  <li>our IT suppliers, including Transform UK Consulting Ltd, who help develop and support the Online Trade Tariff and any associated services</li>
  <li>GOV.UK Notify to send you notifications for services that you are registered for  </li>
  <li>AWS Cognito to verify your identity during registration for OTT services, not limited to Stop Press Tariff Updates </li>
</ul>

<p>All third parties are bound by strict contractual agreements and process your information only on HMRC’s instruction or agreement, under strict confidentiality and data protection requirements. </p>

<h2 class="govuk-heading-m">Data security</h2>

<p>We take the security of your data very seriously. Our measures include: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>data is encrypted at rest and in transit using secure protocols </li>
  <li>stored securely in the UK using AWS infrastructure </li>
  <li>access limited to authorised personnel and contractors </li>
  <li>regular audits, access controls, and incident response processes </li>
  <li>third-party providers are certified to standards including ISO27001 and Cyber Essentials </li>
</ul>

<h2 class="govuk-heading-m">Data retention</h2>

<p>
  Web analytics data is retained in line with our cookie policy and support request are retained as long as needed to provide the service.

Stop Press Tariff update notification user records are retained only while your subscription is active.

If you unsubscribe, your data will be deleted immediately. If you do not complete registration, your data will be deleted after three months.

For further information, please refer to <a href="https://www.gov.uk/government/publications/hmrc-records-management-and-retention-and-disposal-policy/records-management-and-retention-and-disposal-policy#:~:text=Records%20must%20only%20be%20retained,area%20retention%20and%20disposal%20schedules." target="_blank">HMRC's records management and disposal policy</a>.
</p>

<h2 class="govuk-heading-m">Your rights</h2>

<p>Under the UK GDPR, you have the right to: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>request access to the personal data we hold about you </li>
  <li>request that we correct or update inaccurate or incomplete data </li>
  <li>request deletion of your data where there is no legal justification to keep it </li>
  <li>object to or restrict the processing of your data in certain circumstance</li>
  <li>withdraw your consent for processing, where applicable (e.g. for analytics) </li>
</ul>

<p>You can manage your Stop Press Tariff Update notification preferences or unsubscribe at any time via links included in each notification email or by logging into the secure service and via the manage preferences feature. </p>
<p>For more on your individual rights or how to make a subject access request, see the main <a href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" target="_blank">HMRC privacy notice</a>. </p>


<h2 class="govuk-heading-m">International transfers</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    GOV.UK Notify processes email data using servers located in Ireland, which is recognised as an adequate country under UK data protection law
  </li>
  <li>
    where applicable, international transfers are covered by appropriate safeguards, such as Standard Contractual Clauses
  </li>
</ul>

<h2 class="govuk-heading-m">Contact HMRC or make a complaint </h2>

<p>
  If you have questions and concerns about how your data is handled, you can contact the Data Protection Officer or make a complaint to HMRC.  For details of how to do this refer to the relevant section of the <a href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" target="_blank">HMRC privacy notice</a>.
</p>
