<div class="govuk-grid-column-one-third">
  <div class="govuk-body-l">
    <p class='govuk-text'>
      <strong>
        Subscribe to the news feed
      </strong>
    </p>

    <p class='govuk-text'>
      You can subscribe to the Online Tariff RSS news feed to be automatically notified
      whenever new information is added.
    </p>

    <p class='govuk-text'>
      <strong>
        Using the news feed
      </strong>
    </p>

    <p class='govuk-text'>
      You need to either install some software, known as an RSS reader or feed reader,
      on your computer or you can subscribe to RSS feeds through your internet browser.

      <p>
        To subscribe to the feed, right-click on the link, select Copy Shortcut or
        Copy Link Location, then paste this into your RSS reader, or use a browser
        which supports RSS feeds.
      </p>

      <p>
        <%= link_to 'Add Trade Tariff news feed to your RSS reader',  feed_news_items_url %>
      </p>
    </p>

    <p class='govuk-text'>
      <strong>
        What is RSS?
      </strong>
    </p>

    <p class='govuk-text'>
      RSS stands for Really Simple Syndication. It's a simple way to keep up to
      date with changes. Rather than continually checking back to see if new
      information has been added to the site, you can use RSS to alert you each
      time we add something new.
    </p>
  </div>
</div>
