<div class="govuk-!-width-two-thirds" id="news_feed">
  <p class='govuk-text'>
    <%= link_to 'Subscribe to the Online Tariff news feed', feed_news_items_url %> to be automatically notified whenever new information is added.
  </p>

  <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Using the news feed
      </span>
    </summary>

    <div class="govuk-details__text">
      <p class='govuk-text'>
        <strong>
          What is RSS?
        </strong>
      </p>

      <p class='govuk-text'>
        RSS stands for Really Simple Syndication. It's a simple way to keep up to date with changes. Rather than continually checking back to see if new information has been added to the site, you can use RSS to alert you each time we add something new.
      </p>

      <p class='govuk-text'>
        <strong>
          How do I subscribe to the feed?
        </strong>
      </p>

      <p class='govuk-text'>
        You need to either install some software, known as an RSS reader or feed reader, on your computer or you can subscribe to RSS feeds through your internet browser.
      </p>

      <p class='govuk-text'>
        To subscribe to the feed, right-click on the link, select Copy Shortcut or Copy Link Location, then paste this into your RSS reader, or use a browser which supports RSS feeds.
      </p>
    </div>
  </details>
</div>
