<div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      New process for moving goods from Great Britain to Northern Ireland
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    Check if you are eligible for the simplified process for internal market movements (SPIMM), available to UKIMS authorised traders from 1st May 2025.
    <p><a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-1" href="<%=green_lanes_start_path%>">Check eligibility</a></p>
  </div>
</div>
