<h3 class="govuk-heading-s">
  Latest news
</h3>

<% news_items.each do |news_item| %>
  <article class="news-item">
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      <%= link_to news_item.title, news_item %>
    </p>

    <p class="tariff-body-subtext">
      <%= news_item.start_date.to_formatted_s :short %>
      <% news_item.collections.each do |collection| %>
        | <%= link_to collection.name, collection %>
      <% end %>
    </p>
  </article>
<% end %>

<%= link_to 'See all latest news', news_items_path %>
