<% if live_issue.commodities.empty? %>
  <p class="govuk-body">
    None affected
  </p>
<% elsif live_issue.commodities.size > 1 %>
<%= govuk_details(summary_text: "#{live_issue.commodities.count} commodities affected") do %>
  <% live_issue.commodities.each do |commodity_code| %>
    <p class="govuk-body">
      <%= govuk_link_to(commodity_code, "/commodities/#{commodity_code}") %>
    </p>
  <% end %>
<% end %>
<% else %>
<p class="govuk-body">
  <%= govuk_link_to(live_issue.commodities.first, "/commodities/#{live_issue.commodities.first}") %>
</p>
<% end %>
