<% commodities = Array(live_issue.commodities).filter_map { |commodity| commodity.to_s.presence } %>

<% if commodities.empty? %>
  <p class="govuk-body">
    <%= t('live_issues.commodities.none') %>
  </p>
<% elsif commodities.size > 1 %>
  <%= govuk_details(summary_text: t('live_issues.commodities.count', count: commodities.count)) do %>
    <ul class="govuk-list govuk-!-margin-bottom-0 live-issues__commodity-list">
      <% commodities.each do |commodity_code| %>
        <li>
          <%= live_issue_commodity_link(commodity_code) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p class="govuk-body">
    <%= live_issue_commodity_link(commodities.first) %>
  </p>
<% end %>
