<%= page_header do %>
  <h1 class="govuk-heading-xl">
    Live Issues Log
  </h1>
<% end %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs t('breadcrumb.live_issues'), [[t('breadcrumb.news'), '/news']] %>
<% end %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Issue</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
      <th scope="col" class="govuk-table__header">Affected commodities</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Dates affected</th>
      <th scope="col" class="govuk-table__header">Last updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Incorrect Supplementary Unit measures</th>
      <td class="govuk-table__cell">Supplementary Unit measures have been incorrectly added to some
      commodity codes (as part of End of Year commodity code changes) and
      HMRC are aware this is causing issues with declarations.</td>
      <td class="govuk-table__cell">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              41 commodities affected
            </span>
          </summary>
          <div class="govuk-details__text">
            2009897390, 2009897999, 2009899720, 2009899790,
            3903909090, 3920791000, 3921131000, 5402490090,
            5603929090, 5603939090, 7006009000, 7320901090,
            7605290000, 7613000090, 7616999099, 8207191000,
            8409910090, 8414900090, 8415900099, 8421210090,
            8421999099, 8479899790, 8481805990, 8482101090,
            8482109000, 8482500090, 8483405190, 8512200090,
            8512309090, 8516900099, 8537109899, 8538909999,
            8543709099, 8544300089, 8544429090, 8547200000,
            8708301090, 8708309190, 8708809990, 8708942000,
            8708943500, 9025804089
          </div>
        </details>
      </td>
      <td class="govuk-table__cell">Resolved</td>
      <td class="govuk-table__cell">10/01/2025 to 10/31/2025</td>
      <td class="govuk-table__cell">17/02/2025</td>
      <!-- <td class="govuk-table__cell">17/02/2025T12:54:12</td> -->

    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Tariff Suspension on plywood</th>
      <td class="govuk-table__cell">Potential issue concerning the classification of the tariff suspension on plywood with an outer ply of eucalyptus (eucalyptus spp.). This product description may have been assigned to an incorrect commodity code</td>
      <td class="govuk-table__cell">4412339000</td>
      <td class="govuk-table__cell">Active</td>
      <td class="govuk-table__cell">12/05/2025 to Current</td>
      <td class="govuk-table__cell">11/06/2025</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Missing commodity codes</th>
      <td class="govuk-table__cell">Codes under the below commodity code are not showing information on Vietnam Preference</td>
      <td class="govuk-table__cell">87120030000</td>
      <td class="govuk-table__cell">Active</td>
      <td class="govuk-table__cell">17/03/2025 to Current</td>
      <td class="govuk-table__cell">17/03/2025</td>
    </tr>
  </tbody>
</table>
