.myott-subscriptions{
  .set_checkbox_width {
      width: 30px;
  }

  .no_border {
      border: none;
  }

  .link_button {
      color: govuk-functional-colour(link);
      text-decoration: underline;
      cursor: pointer;
      background: none!important;
      border: none;
      font: weight 400px;
      font-size: 1rem;

      &:hover {
        color: govuk-functional-colour(link-hover);
      }

      &:active {
        color: govuk-functional-colour(link);
      }

      &:visited {
      color: govuk-functional-colour(link);
      }
    }
}
