@mixin indented-item($level) {
  $left-pos: -984px;

  @if $level ==1 {
    padding-left: 0;
    font-weight: bold;

    @media (min-width: $desktop-min-width) {
      padding-left: 0;
      background-position: $left-pos + $token-width 1em;
    }
  }

  @else {
    margin-left: px(($token-width * 2) + (($token-width / 3) * ($level - 2))) * -1;
    padding-left: px(($token-width * 2) + (($token-width / 3) * ($level - 1)));
    font-weight: normal;

    @media (min-width: $desktop-min-width) {
      margin-left: px(($token-width * 2) + ($token-width * ($level - 2))) * -1;
      padding-left: px(($token-width * 2) + ($token-width * ($level - 1)));
      background-position: $left-pos + ($token-width * $level) 1em;
    }
  }
}

@mixin indented-list($levels) {
  $indent-level: 1;

  @while $indent-level < $levels {

    &.level-#{$indent-level},
    &.level-#{$indent-level} a {
      @include indented-item($indent-level);
    }

    $indent-level: $indent-level + 1;
  }
}

article.tariff {
  .tree-key {
    float: right;
    font-size: 14px;
    padding: 6px 16px;

    @media (min-width: $desktop-min-width) {
      font-size: 16px;
      padding: 8px 16px;
    }

    .key-text {
      float: right;
      margin: 5px 0 0 0.5em;
      font-size: 14px;

      @media (min-width: $desktop-min-width) {
        margin: 5px 0 0 0.5em;
      }
    }
  }
}

.commodity-tree {
  border: 1px solid $panel-colour;

  .govuk-list[aria-hidden="true"] {
    display: none;
  }

  .commodity-tree-note {
    left: 0;
    right: 0;
    margin: 15px;
    color: govuk-functional-colour(secondary-text);
    font-size: 14px;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 0;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    span {
      position: absolute;
      left: -9999em;
    }

    em {
      font-style: normal;
      float: left;
    }

    .level {
      width: px(($token-width - $token-padding) + $token-space);
      display: none;

      @media (min-width: $desktop-min-width) {
        display: block;
      }
    }
  }

  .commodity-tree__additional-info {
    float: right;
    width: 514px;

    em {
      font-style: normal;
      float: left;
      margin-left: 15px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .vat {
      width: 80px;
      display: none;
      text-align: left;

      @media (min-width: $headings-large-viewport) {
        display: block;
      }
    }

    .duty {
      width: 145px;
      display: none;
      text-align: left;

      @media (min-width: $headings-large-viewport) {
        display: block;
      }
    }

    .supplementary-units {
      width: 120px;
      display: none;
      text-align: left;

      @media (min-width: $headings-large-viewport) {
        display: block;
      }
    }

    .commcode {
      width: 110px;
      float: left;
      text-align: left;
      display: none;

      @media (min-width: $headings-large-viewport) {
        display: block;
      }
    }
  }

  .tree-controls {
    background-color: $panel-colour;
    padding: 8px 16px;
    vertical-align: top;
    min-height: 25px;

    a {
      margin-right: 1em;
      display: inline-block;
      font-size: 14px;

      @media (min-width: $desktop-min-width) {
        font-size: 16px;
      }
    }
  }

  ul.commodities {
    @include contain-float;
    padding: 0;
    margin: 1em;
    position: relative;
    font-size: 14px;

    @media(min-width: $desktop-min-width) {
      font-size: 16px;
    }

    @media(max-width: $mobile-max-width) {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    li {
      @include contain-float;
      @include indented-list(13);
      display: block;
      margin: 0;
      position: relative;
      word-wrap: break-word;

      // Create Hyphen sequences for the commodity tree views
      @media (min-width: $desktop-min-width) {
        $max_level: 20;
        $dashes_spacing: $token-width;

        @for $i from 2 through $max_level {
          &.level-#{$i} {
            $url_list: (
            );
          $position_list: (
          );

        @for $number_of_dashes from 1 through $i - 1 {
          $url_list: append($url_list, url("/hyphen-6px.png"), comma);
          $position_list: append($position_list,
              top 20px left 25px + $number_of_dashes * $dashes_spacing,
              comma);
        }

        background-image: $url_list;
        background-repeat: no-repeat;
        background-position: $position_list;
      }
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  &:last-child>a,
  &:last-child>ul {
    border-bottom: none;
  }

  &.has_children,
  a {
    padding-top: 0.5em;

    @media (max-width: $mobile-max-width) {
      &:first-child {
        padding-top: 0;
      }

      padding-top: 1em;
    }
  }

  ul,
  a {
    border-bottom: solid 1px #eee;
  }

  a {
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    position: relative;
  }

  .commodity__info {
    font-size: 16px;

    @media (min-width: 641px) {
      float: right;
      width: 514px;
    }

    .lte-ie8 & {
      float: none !important;
    }

    &:after {
      clear: both;
      content: " ";
      display: table;
      zoom: 1;
    }

    .vat,
    .duty,
    .supplementary-units {
      display: none;
      float: left;
      margin-right: 15px;
      color: govuk-functional-colour(text);
      font-weight: normal;
      font-size: 0.9em;

      @media (min-width: $headings-large-viewport) {
        display: block;
      }
    }

    .vat {
      width: 80px;
      text-align: left;
    }

    .duty {
      width: 170px;
      text-align: left;
    }

    .supplementary-units {
      width: 120px;
      text-align: left;
    }
  }

  .identifier {
    font-family: ntatabularnumbers, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;

    padding-bottom: 0.2em;
    display: inline-block;
    width: $identifier-width;
    border: 0;
    padding: 0;
    margin-top: 0.5em;

    @media (min-width: $desktop-min-width) {
      color: govuk-functional-colour(text);
      position: absolute;
      right: 0;
      top: -.05em;
    }

    div {
      text-align: center;
      float: left;
    }
  }

  // service-uk includes a vat column so needs to be shunted further right by its width
  .service-uk.identifier {
    @media (min-width: $desktop-min-width) {
      width: $identifier-width-desktop-uk;
    }
  }

  // service-xi excludes a vat column so needs to be shunted further right by its width
  .service-xi.identifier {
    @media (min-width: $desktop-min-width) {
      width: $identifier-width-desktop-xi;
    }
  }

  .rate {
    padding-right: em($token-padding, 14);
    width: em(60, 14);
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  article & a,
  .js-enabled article & a {
    display: block;
    @include contain-float;
    margin-left: 0;
    padding-left: 0;
    min-height: 1.6rem;
  }
}

ul {
  margin: 0;
  padding-left: 0;
  clear: both;
}
}

.commodity-tree-note em {
  @include govuk-font($size: 16, $weight: normal);
}

li:not(.has_children) .description {
  @include govuk-font($size: 16, $weight: normal);
  color: govuk-functional-colour(link);
  padding-left: px($expand-arrow-space);
  margin-left: -1 * px($expand-arrow-space);
  cursor: pointer;
  position: relative;
  /* to give z-index */

  @media (min-width: 641px) {
    float: left;
    width: calc(100% - 165px);
  }

  @media (min-width: $headings-large-viewport) {
    width: calc(100% - #{$identifier-width-desktop - 10px});
  }

  &.without_right_margin {
    margin: 0 !important;
  }
}

li.has_children {
  .description {
    @include govuk-font($size: 16, $weight: normal);
    color: govuk-functional-colour(link);
    padding-left: px($expand-arrow-space);
    margin-left: -1 * px($expand-arrow-space);
    position: relative;
    /* to give z-index */

    @media (min-width: 641px) {
      float: left;
      width: calc(100% - 165px);
    }

    @media (min-width: $headings-large-viewport) {
      width: calc(100% - #{$identifier-width-desktop - 10px});
    }

    &.without_right_margin {
      margin: 0 !important;
    }
  }

  >.description {
    padding-left: 16px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      border-width: 7px 0 7px 12.124px;
      border-left-color: inherit;
    }
  }

  .description:hover,
  .description-hover {
    color: govuk-functional-colour(link-hover);
  }

  a .description {
    margin-left: 0;
    padding-left: 0;
    background: none;
  }

  .open {
    &:before {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 12.124px 7px 0 7px;
      border-top-color: inherit;
    }
  }
}

.conditions,
.footnotes,
.additional-codes {
  display: none;
  clear: both;
}

.date-filter-search {
  display: none;
}

.tooltip-description {
  display: none;
  position: absolute;
  width: 200px;
  padding: px($top-level-padding);
  z-index: 1;
  font-size: em(14, 16);
  background: #fff;
  border: solid 1px #bbb;

  p {
    margin: 0;
    padding: $top-level-padding;
  }
}

.additional-code-table {
  @include govuk-font($size: 16);
  @include govuk-responsive-margin(2, "bottom");

  .govuk-table__body .govuk-table__cell {
    padding: 0.1rem;
  }

  .govuk-table__head .govuk-table__header {
    padding: 0.1rem;
  }
}

.non-breaking-heading {
  white-space: nowrap;
}
}
