.commodity-action-button {
  display: inline-flex;
  align-items: center;
  color: govuk-colour("blue");
  cursor: pointer;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  padding: 10px;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(80, 90, 95);
  border-image: initial;
  background: none;
}

.commodity-action-button:link,
.commodity-action-button:visited {
  color: govuk-colour("blue");
  text-decoration: none;
}

.commodity-action-button + .commodity-action-button {
  margin-left: 20px;
}

.commodity-action-button:hover {
  background-color: rgb(243, 242, 241);
  color: rgb(0, 48, 120);
  text-decoration: none
}

.commodity-action-button:active {
  background-color: rgb(243, 242, 241);
  box-shadow: inset 0 -4px 0 govuk-colour("black");
  color: govuk-functional-colour(text);
}

.commodity-action-button:focus,
.commodity-action-button:focus-visible {
  outline: 3px solid transparent;
  background-color: govuk-functional-colour(focus);
  box-shadow: inset 0 -4px 0 govuk-colour("black");
  color: govuk-functional-colour(focus-text);
  text-decoration: none;
}

.commodity-action-button--copied,
.commodity-action-button--copied:focus,
.commodity-action-button--copied:focus-visible {
  background-color: govuk-functional-colour(focus);
  box-shadow: inset 0 -4px 0 govuk-colour("black");
  color: govuk-functional-colour(focus-text);
}

.commodity-action-button--copied:hover,
.commodity-action-button--copied:active {
  background-color: rgb(243, 242, 241);
  box-shadow: inset 0 -4px 0 govuk-colour("black");
  color: govuk-functional-colour(text);
}

.commodity-action-button__icon {
  color: govuk-functional-colour(text);
  vertical-align: top;
  margin-right: 5px;
}

.commodity-action-button__copy-trigger {
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.commodity-action-button__copy-label {
  display: inline-block;
  width: 11em;
}
