.chapter-code, .heading-code, .commodity-code {
  @include govuk-font($size: 16, $weight: normal);
  display: inline-block;
  position: relative;
  height: 1.5625em;
  float: left;
  @media (min-width: $desktop-min-width) {
    font-size: 16px;
  }
  > .code-text {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: govuk-functional-colour(text);
    line-height: 30px;
  }
}
.chapter-code {
  background-color: $chapter-code-bg;
  width: $chapter-code-width;
  height: $chapter-code-height;
  margin-right: 5px;
}
.heading-code {
  background-color: $heading-code-bg;
  width: $heading-code-width;
  height: $chapter-code-height;
  margin-right: 5px;
}
.chapter-heading-code {
  @extend .govuk-tag--grey;
  font-weight: 400;
  width: 2.6em;
  padding: 0.125em 0.25em;
  text-align: center;
  font-size: 16px;
}
.chapter-chapter-code {
  @extend .govuk-tag--grey;
  font-weight: 400;
  width: 1.4em;
  padding: 0.125em 0.25em;
  text-align: center;
  font-size: 16px;
}
.commodity-code {
  width: 101px;
  height: $chapter-code-height;

  > .code-text {
    position: relative;
    width: 30px;
    background-color: $commodity-code-bg;
    height: 30px;
    line-height: 30px;

    & + .code-text {
      margin-left: 5px;
    }
  }
}

.govuk-tag--green--wide {
  @extend .govuk-tag--green;
  max-width: 100%;
}

.search-results .commodity-code .code-text + .code-text {
  margin-left: 2px;
}

.chapter-guide {
  a {
    display: inline !important;
    margin-left: inherit !important;
  }
}
.guides-container {
  margin-left: 46px;
}

.commodity-rules-of-origin {
  thead th:nth-of-type(1) {
    width: 15%;
  }

  thead th:nth-of-type(2) {
    width: 35%;
  }
}

.segmented-commodity-code {
  @include govuk-media-query($from: tablet) {
    span {
      padding: 0 0.12em;
    }

    &--coloured {
      @include govuk-font($size: false);
      font-size: 14px;
      font-family: 'Azeret Mono', 'Courier New', Courier, monospace;

      span {
        color: govuk-functional-colour(text);
        padding: 0.17em 0.25em;
        margin-right: 0.16em;

        &:nth-of-type(1) {
          background-color: $coloured-commodity-code--first
        }

        &:nth-of-type(2) {
          background-color: $coloured-commodity-code--second
        }

        &:nth-of-type(3) {
          background-color: $coloured-commodity-code--third
        }
      }
    }
  }
}

.footnote-list {
  ol {
    @include govuk-responsive-margin(1);
  }

  ul {
    li {
      margin-bottom: 0.5em;
    }
  }
}
