.feedback-useful-banner {
  border-top: 1px solid govuk-functional-colour(border);

  .feedback-useful-container {
    position: relative;
    background-color: govuk-colour("black", $variant: "tint-95");
    height: 36px;
    padding-top: 17px;
  }

  p {
    font-weight: bold;
    float: left;
    padding-top: 7px;
    padding-left: 11px;
    padding-right: 15px;
  }

  .govuk-button {
    border: 1px solid govuk-colour("black");
    box-shadow: 0 2px 0 govuk-colour("black");
    min-width: 6em;
  }
}

.govuk-footer {
  border-top: 10px solid govuk-colour("blue");
}

@media (max-width: 900px) {
  .feedback-useful-banner {
    .report-problem {
      display: none;
    }
    .govuk-footer__meta-item {
      margin-right: 0 !important;
    }
    .govuk-footer__inline-list-item{
      margin-right: 0 !important;
    }
  }
}

@include govuk-media-query($until: tablet) {
  .feedback-useful-banner {
    p {
      padding-top: 9px;
    }

    .govuk-button {
      min-width: 3.5em;
    }
  }
}

// for the older devices with smaller screens show the buttons as a block
@media (max-width: 384px) {
  .feedback-useful-banner {
    .feedback-useful-container {
      height: auto;
      padding-bottom: 20px;
    }

    .govuk-footer__inline-list-item {
      display: block;
      margin-bottom: 10px;
    }

    .govuk-button {
      width: 100%;
    }
  }
}
