.feedback-form {
  .form-hint {
    margin-bottom: govuk-spacing(4);
    width: 75%;
  }

  textarea {
    width: 75%;
    display: block;
  }

  input[type='text'] {
    width: 50%;
    display: block;
  }

  .error-message {
    color: red;
  }
}

#feedback-message-field-error {
  border-color: govuk-colour("red");
}
