// Uses GOV.UK footer meta structure for layout; styles scoped so we don't affect main footer
.feedback-useful-banner {
  border-top: 1px solid $govuk-border-colour;

  &__inner {
    background-color: govuk-colour("light-grey");
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-spacing(4);
    // Reapply footer meta flex layout (normally scoped under .govuk-footer)
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: govuk-spacing(4);

    .govuk-footer__meta-item {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    .govuk-footer__meta-item--grow {
      flex: 1;
      min-width: 0;
    }

    .govuk-button {
      border: 1px solid govuk-colour("black");
      box-shadow: 0 2px 0 govuk-colour("black");
      min-width: 6em;
    }
  }
}

.govuk-footer {
  border-top: 10px solid govuk-colour("blue");
}

@include govuk-media-query($until: tablet) {
  .feedback-useful-banner__inner {
    flex-direction: column;
    align-items: stretch;

    .govuk-footer__meta-item .govuk-button {
      width: 100%;
      min-width: 0;
    }
  }
}
