@function px($value) {
  @return $value * 1px;
}

@mixin contain-float {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin govuk-link-button-reset {
  @include govuk-link-common;
  @include govuk-link-style-default;

  color: govuk-functional-colour(link);
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  font-size: 1rem;

  &:focus {
    @include govuk-focused-text;
  }
}
