.govuk-header .tariff-header-banner {
  padding: govuk-spacing(2) 0;
  border-top: govuk-spacing(2) solid govuk-functional-colour(brand);

  > .govuk-width-container > *:first-child {
    margin-top: 0;
  }

  p, div, h1, h2, h3 {
    color: govuk-colour("white");
  }

  p {
    @include govuk-font($size: 16);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    @include govuk-link-style-inverse;
  }

  @include govuk-media-query($from: tablet) {
    .govuk-width-container {
      padding: govuk-spacing(3) 0 ;
    }

    p {
      @include govuk-typography-weight-bold;
    }
  }
}
