.search-button {
  display: block;
  position: relative;
  bottom: 0;
  left: -30px;
  right: 0;
  height: 40px;
  width: 40px;
  overflow: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: -5000px;
  background-image: url('/search-button.png');
  background-repeat: no-repeat;
  background-position: 1px -17px;
}
