.live-issues__result-count {
  color: govuk-colour("black");
  display: inline-block;
  text-decoration: none;
}

.app-c-filter-panel__content {
  background: govuk-colour("black", $variant: "tint-95");
  padding: govuk-spacing(4);
}

.live-issues__filter-actions.govuk-button-group {
  .govuk-button {
    margin-bottom: 24px;
  }
}

@include govuk-media-query($from: tablet) {
  .live-issues__filter-actions.govuk-button-group {
    .govuk-button {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }
}

.live-issues__active-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(2);
}

.live-issues__active-filter {
  background: govuk-colour("black", $variant: "tint-95");
  border: 1px solid govuk-colour("black", $variant: "tint-80");
  display: inline-block;
  padding: govuk-spacing(1) govuk-spacing(2);
  text-decoration: none;
}

.live-issues__card-meta,
.live-issues__card-issue {
  display: block;
}

.live-issues__card-meta {
  @include govuk-font($size: 16, $weight: regular);
}

.live-issues__commodity-list {
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(1) govuk-spacing(2);
}

.live-issues__markdown {
  a.govuk-link {
    color: govuk-colour("blue");
  }

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}
