@include govuk-media-query($from: tablet) {
  .measure-inset {
    background-color: $feature-panel-shaded-background-colour;

    border-left: 10px solid $feature-panel-border-left;

    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;

    img {
      float: left;
      margin-right: 1em;
      margin-bottom: 2em;
    }

    p {
      font-size: 16px;
      margin-bottom: 0.5em;
    }

    & > img + div {
      margin-left: 60px;
    }
  }

  .vat-excise-panel {
    padding: 5px;

    li:not(:last-child) {
      margin-bottom: 5px;
    }

    ul {
      padding-left: 27px;
    }
  }
}

@include govuk-media-query($until: tablet) {
  .measure-inset img {
    display: none;
  }
}
