.myott-mycommodities{
  .summary_container {
    background-color: govuk-colour("white");
    padding: 10px;
    border: 2px solid  $govuk-border-colour
  }

  .summary_background{
    position: relative;
    padding: 1em;
    margin: 20px 0 40px 0;
    background-color: govuk-colour("light-grey");
  }
}
