.myott-mycommodities{
  .category_container {
    background-color: govuk-colour("white");
    padding: govuk-spacing(1);
    border: 2px solid  govuk-functional-colour(border)
  }

  .watch-list-container{
    padding: govuk-spacing(3);
    background-color: #d2e2f1;
  }

  .download_link {
    display: flex;
    gap: 4px;
    cursor: pointer;

    &:hover {
      color: govuk-functional-colour(link-hover);
    }

    &:active,
    &:visited {
      color: govuk-functional-colour(link);
    }

    &.download_link--black-icon {

      &:hover {
        color: govuk-functional-colour(link-hover);
      }

      &:active,
      &:visited {
        color: govuk-functional-colour(link);
      }

      .download_icon {
        color: govuk-colour(black);
      }
    }

    &.govuk-link--inverse {
      
      &:hover {
        color: govuk-colour(white);
      }

      &:active,
      &:visited {
        color: govuk-colour(white);
      }

      .download_icon {
        color: govuk-colour(white);
      }
    }
  }
}
