.myott-mycommodities{
  .category_container {
    background-color: govuk-colour("white");
    padding: govuk-spacing(1);
    border: 2px solid  $govuk-border-colour
  }

  .watch-list-container{
    padding: govuk-spacing(3);
    background-color: #d2e2f1;
  }

  .clickable-area {
    cursor: pointer;
    padding: govuk-spacing(1);
    margin: -#{govuk-spacing(1)};

    &.disabled {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
