.myott-mycommodities{
  .category_container {
    background-color: govuk-colour("white");
    padding: govuk-spacing(1);
    border: 2px solid  govuk-functional-colour(border)
  }

  .watch-list-container{
    padding: govuk-spacing(3);
    background-color: #d2e2f1;
  }

  .download_icon {
      color: govuk-colour(black);
  }

  .govuk-link--no-visited-state {
    display: flex;
    gap: 4px;
  }

  .govuk-link--inverse {
    display: flex;
    gap: 4px;

    .download_icon {
      color: govuk-colour(white);
    }
  }
}
