.myott-mycommodities{
  .category_container {
    background-color: govuk-colour("white");
    padding: govuk-spacing(1);
    border: 2px solid  govuk-functional-colour(border)
  }

  .watch-list-container{
    padding: govuk-spacing(3);
    background-color: #d2e2f1;
  }
}
