.myott-mycommodities{

  .myott-mycommodities__counts-heading {
    color: govuk-colour(white);
  }

  .category_container {
    background-color: govuk-colour(white);
    padding: govuk-spacing(3) + 1px;
    border: 2px solid  govuk-functional-colour(border);
    @include govuk-media-query($until: tablet) {
      margin-top: govuk-spacing(5) - 1px;
      margin-bottom: govuk-spacing(5) - 1px;
    }
  }

  .watch-list-container{
    padding: govuk-spacing(3);
    background-color: govuk-functional-colour(brand);
  }

  .download_icon {
    margin: govuk-spacing(1) - 1px;
    vertical-align: middle;
    color: govuk-colour(black);
  }

  .govuk-link--inverse {
    .download_icon {
      color: govuk-colour(white);
    }
  }

  .download-commodities-top {
    @include govuk-media-query($until: tablet) {
      display: none;
    }
  }

  .download-commodities-bottom {
    display: none;
    @include govuk-media-query($until: tablet) {
      display: block;
    }
  }
}
