.govuk-notification-banner--error {
  border-color: govuk-functional-colour(error);
}

.govuk-button--blue {
  background-color:   govuk-functional-colour(brand);
  border-color:  govuk-functional-colour(brand);
  color: govuk-colour("white");
  &,
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: govuk-colour("white");
    }

    &:hover {
      background-color: govuk-functional-colour(link-hover);
    }
}
