.panel {
  text-align: left;
  padding: govuk-spacing(4) - $govuk-border-width;
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");


  &--coloured {
    background-color: $coloured-panel-background-colour;
  }

  &--grey {
    background-color: govuk-colour("black", $variant: "tint-95");
  }

  .govuk-warning-text {
    margin-bottom: inherit ;
  }
}

.panel-border-wide {
  border-width: 0 0 0 $govuk-border-width-wide;
  border-color: govuk-functional-colour(border);
}
