.rules-of-origin-heading {
  display: flex;

  img.country-flag {
    box-shadow: 2px 2px 2px #999999;
    top: 3px;
    position: relative;
    height: 20px;
    min-height: 30px;
    margin-left: 0.5em;
  }
}

.rules-of-origin-explainer {
  display            : block;
  margin             : 1em 0px 0.5em 0px;
  border-left        : 8px #098DC1 solid;
  padding            : 0.25em 0.25em 0.25em 0.5em;
  color              : #000;
  background-color   : #E9F4F9;
  font-size          : 16px;
  line-height        : 1.5em;
}

.rules-of-origin {
  &__non-breaking-heading {
    white-space: nowrap;
  }
}

.rules-of-origin-app-contents {
  list-style-type: none;
  text-indent: -2.2em;

  li:before {
    content: "—";
    margin: 0 1em 0 0;
  }
}

.rules-of-origin-met-message {
  padding: govuk-spacing(3);
  background-color: govuk-colour("black", $variant: "tint-95");
  margin-bottom: 2em;

  p {
    margin-bottom: 0;
  }
}

.rules-of-origin__step-col .tariff-markdown {
  img {
    max-width: 75%;
  }

  @include govuk-media-query($until: tablet) {
    img {
      max-width: 100%;
    }
  }
}
