.govuk-accordion__show-all-text {
  font-size: 16px;
}

.govuk-accordion__section-heading-text {
  font-size: 19px;
}

.govuk-accordion__section-toggle-text {
  font-size: 16px;
}

.govuk-accordion__section-content {
  padding-bottom:1.5em !important;
}
