.switch-service-control {
  @include govuk-font($size: 16);
  position: relative;
  top: -0.4em;
  white-space: nowrap;
  padding: 0.2em 1em 0.2em 0;
  border-radius: 4px;

  .arrow:before {
    content: "\2192";
    color: govuk-colour("blue");
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    padding-left: 0.75em;
    background-color: govuk-colour("blue");

    a {
      color: govuk-colour("white");
    }

    .arrow:before {
      color: govuk-colour("white");
    }
  }
}

header {
  .switch-service-control__caption {
    @include govuk-media-query($from: tablet) {
      margin-right: 1.2em;
    }
  }

  .switch-service-control {
    @include govuk-media-query($from: tablet) {
      margin-top: 0.8em;
    }

    @include govuk-media-query($until: tablet) {
      display: block;
      padding: 0;
      margin: 1em 0;
    }
  }
}
