table.small-table {
  margin: 0 0 30px 0;
  p {
    @include govuk-font($size: 16, $weight: normal);
  }
  th,
  td {
    font-size: 16px;
    padding: 0.63158em 0.526315em 0.47368em 0;
    text-align: left;
  }
  td {
    min-height: $table-row-standard-height;
  }
  a[rel="external"]::after {
    display: none;
  }
  &.measures {
    span.table-line {
      display: block;
      & ~ .table-line {
        margin-top: 0.5em;
      }
    }

    @media (min-width: $small-table-breakpoint) {
      .measure-type-col {
        min-width: 40%;
      }
    }

    @media (max-width: $small-table-breakpoint - 1) {
      caption,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
      thead tr {
        /* Hide table headers but keep them screenreader-accessible */
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: govuk-functional-colour(border);
        &:first-of-type {
          border-top-width: 1px;
        }
      }
      td {
        border-bottom: 1px solid $table-sub-border;
        position: relative;
        padding-left: 50%;
        &:before {
          position: absolute;
          top: 8px;
          left: 8px;
          width: 45%;
          padding-right: 5%;
          white-space: nowrap;
        }
      }

      .country-col::before {
        content: "Country";
      }

      .measure-type-col::before {
        content: "Measure type";
      }

      .duty-rate-col::before {
        content: "Duty rate";
      }

      .conditions-col::before {
        content: "Conditions";
      }

      .legal-base-col::before {
        content: "Legal base";
      }

      .dates-col::before {
        content: "Date(s)";
      }

      .footnotes-col::before {
        content: "Footnotes";
      }
    }

    /* Expanding table-cell content */
    dl {
      margin: 0;

      dt {
        cursor: pointer;
        position: relative;

        &.has_children {
          padding-left: 25px;
          color: govuk-functional-colour(link);
          text-decoration: underline;

          &:hover {
            color: govuk-functional-colour(link-hover);
          }

          &:focus {
            outline: 3px solid transparent;
            color: govuk-functional-colour(focus-text);
            background-color: govuk-functional-colour(focus);
            box-shadow: 0 -2px govuk-functional-colour(focus),
              0 4px govuk-functional-colour(focus-text);
            text-decoration: none;
          }

          &:before {
            content: "";
            position: absolute;
            top: 3px;
            bottom: 0;
            left: 0;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            border-width: 6px 0 6px 10.124px;
            border-left-color: inherit;
          }
        }
        &.open {
          &:before {
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
            border-width: 10.124px 6px 0 6px;
            border-top-color: inherit;
            top: 4px;
          }
        }
      }
      dd {
        margin: 0;
        ul {
          margin-top: 1em;
          margin-left: px($expand-arrow-space);
          font-size: 14px;
          li {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

table.section-browser {
  tr {
    &:first-of-type {
      .heading-subtitle {
        padding-top: 0;
      }
    }
    .heading-subtitle {
      padding-top: 2em;
    }
  }
}

.govuk-table--responsive {
  @include govuk-media-query($until: tablet) {
    & > caption,
    & > thead,
    & > tbody {
      display: block;
    }

    & > caption,
    & > thead,
    & > tbody {
      display: block;

      & > tr {
        display: block;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: govuk-functional-colour(border);

        &:first-of-type {
          border-top-width: 2px;
        }

        & > th {
          display: block;
        }

        & > td {
          display: block;
          position: relative;
          padding-left: 45%;
          padding-right: 0;
          width: auto;
          word-wrap: break-word; /* IE11 compatibility */
          overflow-wrap: break-word;

          &:before {
            @include govuk-typography-weight-bold;
            position: absolute;
            top: govuk-spacing(2);
            left: 0;
            width: 40%;
            padding-right: 5%;
            white-space: nowrap;
            content: attr(data-label);
          }

          &.responsive-full-width {
            padding-left: 0;
            position: static;

            &:before {
              position: static;
              display: block;
              padding-right: 0;
              width: 100%;
              padding-bottom: govuk-spacing(2);
            }
          }
        }
      }
    }

    & > thead tr {
      /* Hide table headers but keep them screenreader-accessible */
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    & .hide-in-mobile {
      display: none;
    }
  }
}

.country-exclusions {
  display: inline-block;
  font-size: 12px;
}

.section-id-col {
  width: 40px;
}

.word-breaking-cell {
  word-break: break-word;
}
