@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url("/azeret-mono-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("/azeret-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("/azeret-mono-v6-latin-regular.woff2") format("woff2"),
    url("/azeret-mono-v6-latin-regular.woff") format("woff"),
    url("/azeret-mono-v6-latin-regular.ttf") format("truetype"),
    url("/azeret-mono-v6-latin-regular.svg#AzeretMono") format("svg");
  /* Legacy iOS */
}

.avoid-line-breaks {
  white-space: nowrap;
}

blockquote {
  @extend .govuk-body;

  padding: govuk-spacing(2);
  margin-left: 0;
  margin-right: 0;
  background-color: govuk-colour("black", $variant: "tint-95");
}

.tariff-body-subtext {
  @extend .govuk-body-s;

  color: govuk-functional-colour(secondary-text);

  a,
  a:visited,
  a:hover {
    color: govuk-functional-colour(secondary-text);
  }
}
