<% content_for :back_link do %>
  <% link_to "Back", edit_green_lanes_check_moving_requirements_path(commodity_code: @commodity_code,
                                                                     country_of_origin: @country_of_origin,
                                                                     moving_date: @moving_date),
                                                                     class: "govuk-back-link"
  %>
<% end %>

<div class="govuk-grid-row govuk-!-static-margin-top-7">
  <div class="govuk-grid-column-two-thirds">

    <header class="govuk-!-margin-bottom-6">
      <span class="govuk-caption-xl">
        Check arrangements for internal market movements
      </span>

      <h1 class="govuk-heading-l">
        Results for your goods
      </h1>
    </header>

    <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content">
        <h2 class="govuk-notification-banner__heading">
          Your goods may be in the categories: <%= categories.join(', ') %>
        </h2>
      </div>
    </div>

    <%= render '/green_lanes/shared/support_email_section' %>
  </div>
</div>
