<div class="app-devolved-nations">
  <% if TradeTariffFrontend::ServiceChooser.xi? %>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Applies to Northern Ireland</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><%= link_to 'Guidance for England, Scotland and Wales', '/find_commodity', class: 'govuk-link' %></p>
  <% else %>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Applies to England, Scotland and Wales</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><%= link_to 'Guidance for Northern Ireland', '/xi/find_commodity', class: 'govuk-link' %></p>
  <% end %>
</div>
