<% content_for :back_link do %>
  <% back_link home_path %>
<% end %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <header>
      <h1 class="govuk-heading-l">
        Check if you are eligible for the simplified process for internal market movements from Great Britain to Northern Ireland (SPIMM)
      </h1>
    </header>

    <p>
      Traders may be able to use the
      <a href='https://www.gov.uk/guidance/apply-for-authorisation-for-the-uk-internal-market-scheme-if-you-bring-goods-into-northern-ireland' target='_blank' rel='noopener noreferrer'>
        simplified process for internal market movements (SPIMM) (opens in new tab)
      </a>
      as part of the Windsor Framework.
    <p>

    <p>
      From 30 September 2024, UK Internal Market Scheme (UKIMS) authorised traders that move goods from Great Britain
      to Northern Ireland through SPIMM can submit a simplified data set rather than a full declaration,
      as well as benefitting from zero customs duties and reduced checks.
    </p>

    <p>
      Use this tool to help you check::
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what is required for SPIMM</li>
      <li>the category of your goods</li>
      <li>what to do next</li>
    </ul>

    <h3 class="govuk-heading-m">Categorisation of goods</h3>

    <p>
      Categorisation is a complex process based on legal regulations, and the specific composition and origin of goods.
    </p>

    <p>
      Traders must check the category of their goods to determine if they are eligible to move through SPIMM.
    </p>

    <p>Goods can be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <span class="govuk-!-font-weight-bold">Category 1:</span>
        not eligible for SPIMM and subject to full customs duties and checks
      </li>
      <li>
        <span class="govuk-!-font-weight-bold">Category 2</span> or
        <span class="govuk-!-font-weight-bold">Standard Category:</span>
        eligible for SPIMM
      </li>
    </ul>

    <h3 class="govuk-heading-m">Before you start</h3>

    <p>You'll need to know:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href='https://www.trade-tariff.service.gov.uk/find_commodity'>
          the commodity code for your goods
        </a>
      </li>
      <li>
        <a href='https://www.trade-tariff.service.gov.uk/howto/origin'>
          the non-preferential origin of your goods
        </a>
      </li>
      <li>when the internal movement of goods is likely to take place</li>
    </ul>

    <%= button_to new_green_lanes_eligibility_path, params: {commodity_code: @commodity_code},
                  class: "govuk-button govuk-button--start govuk-!-margin-top-6", method: :get do %>

      <span>Start now</span>
      <%= render 'shared/start_arrow' %>
    <% end %>

    <%= render '/green_lanes/shared/support_email_section' %>

    <p>This tool sits on the UK tariff due to legal requirements set out in the Windsor Framework.</p>
  </div>
</div>
