<header class="page-header group">
  <div>
    <h1 class="govuk-heading-l">
      <h1><%= header %></h1>
    </h1>
  </div>
</header>
<div class="article-container">
  <article role="article" class="group">
    <div class="inner">
    <p>
      <%= message %>
    </p>
    </div>
  </article>
</div>
