// GOV.UK elements style guide specifies that 25% or 50% tints
@function tint($color) {
  @return mix($color, #fff, 25%);
}

$tariff-white: #f0f0f0;
$chapter-code-bg: #d1d2e6;
$heading-code-bg: #b3d9ee;
$commodity-code-bg: #abeae5;
$table-header-bg: #e1e8e8;
$table-sub-border: tint($govuk-border-colour);

 // TODO: Remove these - exchange rates are no longer something we manage/view via the frontend
$current-rate-accent-color: govuk-colour("green");
$current-rate-secondary-color: $govuk-secondary-text-colour;

$tariff-inset-background-color-meursing: #e9f4f9;
$tariff-inset-border-left-color-meursing: #098dc1;
$tariff-inset-background-color-information: #f0f4f5;

$coloured-commodity-code--first:  #e8e9f3;
$coloured-commodity-code--second: #d9ecf7;
$coloured-commodity-code--third:  #d5f5f2;
