.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;

  box-sizing: border-box;
  width     : 100%;

  padding-top     : govuk-spacing(3);
  padding-right   : govuk-spacing(3);
  padding-bottom  : govuk-spacing(3);
  padding-left    : govuk-spacing(3);
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
}

.app-cookie-banner__message {
  margin: 0;
  @include govuk-width-container;
}

form.button_to {
  display: inline;
}

.govuk-button-group {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.govuk-button-group .govuk-link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  display: inline-block;
  max-width: 100%;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 40.0625em) {
  .govuk-button-group .govuk-button, .govuk-button-group .govuk-link {
    margin-right: 15px;
  }
}

@include govuk-media-query($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}

.cookie-settings__confirmation-show {
  border  : solid 5px #00703C;
  display : block;
}

.cookie-settings__confirmation-hide {
  display : none;
}

.banner-govuk-link {
  display:inline-block;
  padding-left: 10px;
  padding-top:8px
}
