$feature-panel-border-colour: #333;
$feature-panel-shaded-background-colour: #f0f4f5;
$feature-panel-border-left: #b1b4b6;

.feature-panel {
  @include govuk-responsive-padding(3);

  border-bottom: 1px solid $feature-panel-border-colour;
  margin-bottom: 1em;

  &.last-feature-panel {
    border: 0;
  }

  &--shaded {
    background-color: $feature-panel-shaded-background-colour;
  }
}
