.feedback-form {
  .form-hint {
    margin-bottom: 20px;
    width: 75%;
  }

  textarea {
    width: 75%;
    display: block;
  }

  input[type='text'] {
    width: 50%;
    display: block;
  }

  .error-message {
    color: red;
  }
}
