@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/azeret-mono-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
       url("../fonts/azeret-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/azeret-mono-v6-latin-regular.woff2") format("woff2"),
       url("../fonts/azeret-mono-v6-latin-regular.woff") format("woff"),
       url("../fonts/azeret-mono-v6-latin-regular.ttf") format("truetype"),
       url("../fonts/azeret-mono-v6-latin-regular.svg#AzeretMono") format("svg");
  /* Legacy iOS */
}
