.call-to-action, .gem-c-govspeak {
  margin: 2em 0;
  background-color: #f3f2f1;
  padding: 2em;
}

.call-to-action p {
  margin-bottom: 0px;
}

.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
}

.gem-c-related-navigation__nav-section {
  margin-bottom: 30px;
}

.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;

  li {
    margin-top: 15px;
  }
}

.gem-c-related-navigation__main-heading {
  font-size: 19px;
}