.lettered-list ol, ol.lettered-list {
  list-style-type: lower-alpha;

  ol {
    list-style-type: lower-roman;
  }
}

.numbered-then-lettered-list ol, ol.numbered-then-lettered-list {
  ol {
    list-style-type: lower-alpha;
  }
}
