.panel {
  text-align: left;
  padding: govuk-spacing(4) - $govuk-border-width;

  &--coloured {
    background-color: $coloured-panel-background-colour;
  }

  .govuk-warning-text {
    margin-bottom: inherit ;
  }
}

.panel-border-wide {
  border-width: 0 0 0 $govuk-border-width-wide;
  border-color: $govuk-border-colour;
}
