.rules-of-origin-heading {
  display: flex;

  img.country-flag {
    box-shadow: 2px 2px 2px #999999;
    top: 3px;
    position: relative;
    height: 20px;
    min-height: 30px;
    margin-left: 0.5em;
  }
}

.rules-of-origin-explainer {
  display            : block;
  margin             : 1em 0px 0.5em 0px;
  border-left        : 8px #098DC1 solid;
  padding            : 0.25em 0.25em 0.25em 0.5em;
  color              : #000;
  background-color   : #E9F4F9;
  font-size          : 16px;
  line-height        : 1.5em;
}

.rules-of-origin {
  &__non-breaking-heading {
    white-space: nowrap;
  }
}

.rules-of-origin-attachment {
  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  justify-content: space-between;
  align-items    : stretch;
  gap            : 10px;
  width          : 100%;

  .rules-of-origin-attachment-text {
      font-size   : 16px;
      width       : 90%;
      padding-left: 1em;

      .subtext {
          font-size: 12px;
      }
  }

  .rules-of-origin-attachment-thumb {
      margin-top    : 5px;
      padding-bottom: 15px;
      width         : 10%;

      svg {
          fill        : #b1b4b6;
          stroke      : #b1b4b6;
          margin-right: 0.5em;
          border      : 1px solid #ccc;
          box-shadow  : 4px 4px #888888;
          max-width   : 64px;
          max-height  : 80px;
      }
  }
}

