.tariff-facet-classification {
  &.govuk-accordion__section--expanded {
    button.govuk-accordion__section-button {
      @include govuk-responsive-padding(0, "bottom");
    }
  }

  .govuk-accordion__section-content {
    @include govuk-responsive-padding(0, "top");
  }
}

.facet-classifications-tag {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 1px #ddd solid;
  clear: both;
  display: inline-block;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 0.25em;
  padding: 2px 5px;
  width: auto;
  padding-bottom: 3px;
  text-decoration: none;
  color:#000 !important;
  margin-top:0.5em;

  a {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

div.facet-classifications-tag-container {
  @include govuk-media-query($until: tablet) {
    display: inline;
  }
}

.govuk-accordion__show-all-text {
  font-size: 16px;
}

.govuk-accordion__section-heading-text {
  font-size: 19px;
}

.govuk-accordion__section-toggle-text {
  font-size: 16px;
}

.govuk-accordion__section-content {
  padding-bottom:1.5em !important;
}
