$tariff-inset-background-color-meursing:  #e9f4f9;
$tariff-inset-border-left-color-meursing: #098dc1;

$tariff-inset-background-color-information:  #f0f4f5;

.tariff-inset-meursing {
  background-color: $tariff-inset-background-color-meursing;
  border-left: 10px solid $tariff-inset-border-left-color-meursing;
}

.tariff-inset-information {
  background-color: $tariff-inset-background-color-information;
}

