.tariff-inset-meursing {
  background-color: $tariff-inset-background-color-meursing;
  border-left: 10px solid $tariff-inset-border-left-color-meursing;
}

.tariff-inset-information {
  background-color: $tariff-inset-background-color-information;
}

