.desktop-only {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}

.govuk-header__content {

  #proposition-links {
    margin: 2px 0 0 0;
  }
}

.govuk-back-link + .govuk-main-wrapper {
  padding-top: 20px !important;

  header h1 {
    margin-bottom: 10px !important;
  }

  .search-header fieldset {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }
}

.govuk-heading-l a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @include govuk-link-style-text;
}

#last-updated-at {
  margin-top: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#mask {
  position: fixed;
  top: 0;
  background-color: #333;
  z-index: 5;
  height: 100%;
  width: 100%;
}

// terms
.govuk-warning-text {
  p {
    margin-top: 10px;
  }
}

.js-show {
  display: none;
}

body {
  font-family: $govuk-font-family-gds-transport !important;
}
