<div class="panel panel-border-wide govuk-panel">
  <p>
    Choose the commodity code below that best matches your goods to see more information. If your item is not listed by name, it may be shown under what it's used for, what it's made from or 'Other'.
  </p>
  <p>
    There are <%= link_to 'important notes for classifying your goods', "#notes" %> shown further down this page
  </p>
</div>
