<div class="panel panel-border-wide govuk-panel">
  <p>
    There are <strong><%= pluralize leaf_commodity_count, 'commodity' %></strong> in this category.
    Please select the category that best matches your goods, to then see the related commodity codes (an import needs 10 digits and export needs 8 digits).
  </p>

  <% if section_note.present? || chapter_note.present? %>
    <p>
      There are <%= link_to 'important notes for classifying your goods', "#notes" %> shown further down this page
    </p>
  <% end %>
</div>
