<div id="rules-of-origin__intro--country-scheme">
  <p>
    In order to qualify for preferential tariff treatment under the <%= scheme.title %>, the product must originate in the <strong><%= rules_of_origin_service_name %></strong> or <strong><%= country_name %></strong>.
  </p>
</div>
