<div id="rules-of-origin__intro--country-scheme">
  <p>
    Your trade may qualify for preferential tariff treatment. This means you may be eligible to pay lower or zero duties.
  </p>
  <p>
    To qualify for preferential tariff treatment, you must meet the product-specific rules of origin under the <%= scheme.title %>.
  </p>

  <p>
    Note, you do not need to apply for a preferential tariff (or comply with preferential rules of origin) if the MFN duty for your product is zero.
  </p>
</div>
