<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text" id="rules-of-origin__intro--no-scheme">
      <p>
        There is no preferential agreement in place with <%= country_name %>,
        therefore rules of origin are not applicable.
      </p>

      <p>To view preferential rules of origin, select a country with which the <%= rules_of_origin_service_name %> has a trade agreement from the dropdown above.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items noborder govuk-!-margin-top-2" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list-s">
          <li><a href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">Check your goods meet the rules of origin</a></li>   
        </ul>
      </nav>
    </aside>
  </div>
</div>
