<div class="govuk-inset-text" id="rules-of-origin__intro--no-scheme">
  <p>
    There is no preferential agreement in place with <%= country_name %>,
    therefore rules of origin are not applicable.
  </p>

  <p>To view preferential rules of origin, select a country with which the <%= rules_of_origin_service_name %> has a trade agreement from the dropdown above.</p>
</div>
