<table class="govuk-table additional-code-table">
  <caption>Depends on additional code</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Code</th>
      <th scope="col" class="govuk-table__header">Duty</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% measures.each do |m| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" id="additional-code"><%= m.additional_code&.code %></td>
      <td class="govuk-table__cell"><%= m.duty_expression.formatted_base.html_safe %></td>
    </tr>
  <% end %>
  </tbody>
</table>
