<%= page_header do %>
  <h1 class="govuk-heading-l commodity-header" data-comm-code="<%= commodity_code %>">
    Commodity <%= segmented_commodity_code commodity_code %>
    <div class="copy_code" id="copy_code">
      <span id="copy_comm_code" class="pseudo-link govuk-link">Copy commodity code</span><br>
      <span class="copied">Code copied</span>
    </div>
  </h1>
<% end %>
