<div id="help_popup">
  <p>
    <%= image_tag('help.png') %>
    <strong>Do you need help?</strong>
  </p>
  <p>Use our <%= webchat_link('Digital Assistant') %> to get help on classifying your goods.</p>
  <p><a id="close_box">Close this box</a></p>
  <p><a id="close_box_longer">Hide for 28 days</a></p>
 </div>
