<% if TradeTariffFrontend.interactive_search_enabled? && params[:request_id].present? %>
  <div class="app-feedback-banner">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0 app-feedback-banner__heading">Give feedback about this service</h2>
    <%= link_to "Share your feedback",
        feedback_path(request_id: params[:request_id]),
        class: "govuk-button app-feedback-banner__button",
        target: "_blank",
        rel: "noopener noreferrer",
        role: "button" %>
  </div>
<% end %>
