#tariff_date_date {
  width: 140px;
  margin-left: govuk-spacing(3);
}

#search-datepicker-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: govuk-spacing(3);
  cursor: pointer;
  border: 2px solid transparent;
  padding: 3px 6px;
  max-width: 3em;

  svg {
    height: 2em;
    width: auto;
  }

  &:focus {
    background: govuk-functional-colour(focus);
    border-color: govuk-functional-colour(input-border);
  }
}
