<% myott_page_title @title %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <%= @header %>
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          <%= @message %>
        </p>
        <% if @subscription_type == 'stop_press' %>
          <p class="govuk-body">
            You can now close this window.
          </p>
          <p class="govuk-body">
            <%= link_to 'What did you think of this service?', feedback_path, class: 'govuk-link govuk-link--no-visited-state' %>
            (takes 30 seconds)
          </p>
        <% end %>
      </div>
    </div>
  </main>
</div>
