<% myott_page_title "Unsubscribe" %>

<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.myott.unsubscribe'),
      [
        [t('breadcrumb.myott.watchlists'), myott_path],
        [t('breadcrumb.myott.stop_press'), myott_stop_press_path],
      ]
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">Are you sure you want to unsubscribe?</h1>

    <p>You are about to unsubscribe from all Stop Press updates from the UK Trade Tariff Service.</p>
    <p>It can take up to 24 hours to remove this email address from our system.</p>
    <p>If you do not want to unsubscribe, close this page.</p>

    <%= form_with url: myott_unsubscribe_path(params[:id]), method: :delete, local: true do %>
      <%= submit_tag "Unsubscribe", class: "govuk-button govuk-button--warning govuk-!-margin-top-4" %>
    <% end %>
  </div>
</div>
