<dt class="gem-c-metadata__term">From:</dt>
<dd class="gem-c-metadata__definition">
  <strong><a href="https://www.gov.uk/government/organisations/hm-revenue-customs">HM Revenue &amp; Customs</a></strong>
</dd>
<dt class="gem-c-metadata__term">Published:</dt>
<dd class="gem-c-metadata__definition"><%= @exchange_rate_collection.published_date %></dd>

<dt class="gem-c-metadata__term">Download:</dt>
<dd class="gem-c-metadata__definition">
  <% files.each_with_index do |file, index| %>
    <%= link_to file.file_size_label, file.adjusted_file_path %>
    <% unless index + 1 == files.length %>
      |
    <% end %>
  <% end %>
</dd>
