<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Chapter</th>
      <td class="govuk-table__cell"><%= @chapter.short_code %></td>
      <td class="govuk-table__cell"/>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Classification</th>
      <td class="govuk-table__cell"><%= @chapter.to_s %></td>
      <td class="govuk-table__cell"/>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of trade</th>
      <td class="govuk-table__cell">
        <%= @search.date.to_formatted_s(:long) %>
      </td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
