<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Supplementary unit</th>
  <td class="govuk-table__cell">
    <%= supplementary_unit %>

    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What are supplementary units?
      </span>
    </summary>
    <div class="govuk-details__text">
      Supplementary units are used when an additional measurement unit is needed on customs declarations. For example the quantity of the products as well as the weight in Kilograms.
    </div>
    </details>
  </td>
  <td class="govuk-table__cell"/>
</tr>
