<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key"><%= declarable.supplementary_unit_description %></dt>
  <dd class="govuk-summary-list__value ">
    <p>
      <%= supplementary_unit_for(uk_declarable, xi_declarable, @search.country) %>
    </p>
    <%= govuk_details(summary_text: 'What are supplementary units?') do %>
      <div class="govuk-!-font-size-16">
        Supplementary units are used when an additional measurement unit is needed on customs declarations. For example: the quantity of the products as well as the weight in kilograms.<br>
      </div>
    <% end %>
  </dd>
  <dd class="govuk-summary-list__actions"></dd>
</div>
