// Entry point for the application Sass build
@use "govuk-frontend/dist/govuk" as govuk with (
  $govuk-global-styles: true,
  $govuk-fonts-path: "/govuk-frontend/dist/govuk/assets/fonts/",
  $govuk-images-path: "/govuk-frontend/dist/govuk/assets/images/"
);

// GOV.UK Frontend and third-party styles.
@use "accessible-autocomplete/dist/accessible-autocomplete.min" as accessible-autocomplete-vendor;

@use "src/vendor/govuk_publishing_components/contents-list";
@use "src/vendor/govuk_publishing_components/metadata";
@use "src/vendor/govuk_publishing_components/print-link";

// Settings.
@use "src/settings";

// Tools.
@use "src/tools";

// Base.
@use "src/base/legacy-grid-layout-conditionals";
@use "src/base/govuk-hint";
@use "src/base/gtm";
@use "src/base/typography";
@use "src/base/govuk-frontend-extensions";

// GOV.UK overrides.
@use "src/overrides/govuk-select";
@use "src/overrides/custom-select";
@use "src/overrides/accessible-autocomplete";
@use "src/overrides/govuk-components";

// Utilities.
@use "src/utilities/grid_extensions";
@use "src/utilities/images";
@use "src/utilities/lists";

// Patterns.
@use "src/patterns/tables";

// Components.
@use "src/components/app-card";
@use "src/components/cards";
@use "src/components/commodity-buttons";
@use "src/components/commodity-codes";
@use "src/components/commodity-tree";
@use "src/components/country-picker";
@use "src/components/downloadable-document";
@use "src/components/feature-panel";
@use "src/components/feedback_banner";
@use "src/components/feedback_useful_banner";
@use "src/components/filter";
@use "src/components/header";
@use "src/components/header_banner";
@use "src/components/help_popup";
@use "src/components/markdown";
@use "src/components/measure-inset";
@use "src/components/modal";
@use "src/components/panel";
@use "src/components/related-navigation";
@use "src/components/step-by-step-nav";
@use "src/components/switch_uk_xi_panel";
@use "src/components/tariff-breadcrumbs";
@use "src/components/tariff-inset";

// Journeys.
@use "src/journeys/a-z-index";
@use "src/journeys/ancestors-tree";
@use "src/journeys/chapter_selection";
@use "src/journeys/exchange_rates";
@use "src/journeys/faq";
@use "src/journeys/help";
@use "src/journeys/help_find_commodity";
@use "src/journeys/interactive-search";
@use "src/journeys/live_issues";
@use "src/journeys/measures";
@use "src/journeys/mycommodities";
@use "src/journeys/news_items";
@use "src/journeys/quota-search";
@use "src/journeys/rules_of_origin";
@use "src/journeys/search";
@use "src/journeys/search-results";
@use "src/journeys/sections-list";
@use "src/journeys/simplified_procedural_values";
@use "src/journeys/tariff-custom";
