// Entry point for your Sass build
$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$govuk-fonts-path: '/govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: '/govuk-frontend/dist/govuk/assets/images/';

@import 'govuk-frontend/dist/govuk/index';
@import 'select2/dist/css/select2.min';
@import 'datepicker/src/calendar/supercalendar';
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import 'src/vendor/govuk_publishing_components/contents-list';
@import 'src/vendor/govuk_publishing_components/metadata';
@import 'src/vendor/govuk_publishing_components/print-link';

@import 'src/legacy-grid-layout-conditionals';

@import 'src/fixes';

@import 'src/variables';
@import 'src/functions';
@import 'src/colors';
@import 'src/typography';
@import 'src/header';
@import 'src/form_customisations';
@import 'src/grid_extensions';
@import 'src/commodity-codes';
@import 'src/tariff-breadcrumbs';
@import 'src/sections-list';
@import 'src/tables';
@import 'src/measures';
@import 'src/a-z-index';
@import 'src/country-picker';
@import 'src/ancestors-tree';
@import 'src/commodity-tree';
@import 'src/search-results';
@import 'src/search';
@import 'src/interactive-search';
@import 'src/index-page';
@import 'src/index-page-right-column';
@import 'src/feedback';
@import 'src/quota-search';
@import 'src/panel';
@import 'src/tariff-custom';
@import 'src/tariff-inset';
@import 'src/copy_code';
@import 'src/rules_of_origin';
@import 'src/simplified_procedural_values';
@import 'src/news_items';
@import 'src/markdown';
@import 'src/uk_overrides';
@import 'src/feature-panel';
@import 'src/switch_uk_xi_panel';
@import 'src/header_banner';
@import 'src/a-z-index';
@import 'src/help';
@import 'src/help_find_commodity';
@import 'src/measure-inset';
@import 'src/step-by-step-nav';
@import 'src/lists';
@import 'src/images';
@import 'src/downloadable-document';
@import 'src/help_popup';
@import 'src/govuk-frontend-extensions';
@import 'src/exchange_rates';
@import 'src/feedback_useful_banner';
@import 'src/feedback_banner_beta';
@import 'src/feedback_banner';
@import 'src/notification_banner';
@import 'src/modal';
@import 'src/faq';
@import 'src/chapter_selection';
@import 'src/mycommodities';
@import 'src/app-card';
