// Entry point for the application Sass build
$govuk-global-styles: true;
$govuk-fonts-path: '/govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: '/govuk-frontend/dist/govuk/assets/images/';

// GOV.UK Frontend and third-party styles.
@import 'govuk-frontend/dist/govuk/index';
@import "accessible-autocomplete/dist/accessible-autocomplete.min";

@import 'src/vendor/govuk_publishing_components/contents-list';
@import 'src/vendor/govuk_publishing_components/metadata';
@import 'src/vendor/govuk_publishing_components/print-link';

// Settings.
@import 'src/settings/variables';
@import 'src/settings/colors';

// Tools.
@import 'src/tools/functions';

// Base.
@import 'src/base/legacy-grid-layout-conditionals';
@import 'src/base/govuk-hint';
@import 'src/base/gtm';
@import 'src/base/typography';
@import 'src/base/govuk-frontend-extensions';

// GOV.UK overrides.
@import 'src/overrides/govuk-select';
@import 'src/overrides/datepicker';
@import 'src/overrides/custom-select';
@import 'src/overrides/accessible-autocomplete';
@import 'src/overrides/govuk-components';

// Utilities.
@import 'src/utilities/grid_extensions';
@import 'src/utilities/images';
@import 'src/utilities/lists';

// Patterns.
@import 'src/patterns/tables';

// Components.
@import 'src/components/app-card';
@import 'src/components/cards';
@import 'src/components/commodity-buttons';
@import 'src/components/commodity-codes';
@import 'src/components/commodity-tree';
@import 'src/components/country-picker';
@import 'src/components/downloadable-document';
@import 'src/components/feature-panel';
@import 'src/components/feedback_banner';
@import 'src/components/feedback_useful_banner';
@import 'src/components/filter';
@import 'src/components/header';
@import 'src/components/header_banner';
@import 'src/components/help_popup';
@import 'src/components/markdown';
@import 'src/components/measure-inset';
@import 'src/components/modal';
@import 'src/components/panel';
@import 'src/components/related-navigation';
@import 'src/components/step-by-step-nav';
@import 'src/components/switch_uk_xi_panel';
@import 'src/components/tariff-breadcrumbs';
@import 'src/components/tariff-inset';

// Journeys.
@import 'src/journeys/a-z-index';
@import 'src/journeys/ancestors-tree';
@import 'src/journeys/chapter_selection';
@import 'src/journeys/exchange_rates';
@import 'src/journeys/faq';
@import 'src/journeys/help';
@import 'src/journeys/help_find_commodity';
@import 'src/journeys/interactive-search';
@import 'src/journeys/live_issues';
@import 'src/journeys/measures';
@import 'src/journeys/mycommodities';
@import 'src/journeys/news_items';
@import 'src/journeys/quota-search';
@import 'src/journeys/rules_of_origin';
@import 'src/journeys/search';
@import 'src/journeys/search-results';
@import 'src/journeys/sections-list';
@import 'src/journeys/simplified_procedural_values';
@import 'src/journeys/tariff-custom';
