<div class="govuk-grid-column-one-third">
  <div class="gem-c-related-navigation">
    <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">Related content</h2>

    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-40a88cdf" data-module="gem-toggle" data-gem-toggle-module-started="true">
      <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/government/collections/working-out-the-customs-value-of-your-imported-goods">Working out the customs value of your imported goods</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-1-transaction-value">Valuing imported goods using Method 1 (transaction value)</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-2-transaction-value-of-identical-goods">Valuing imported goods using Method 2 (transaction value of identical goods)</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-3-transaction-value-of-similar-goods">Valuing imported goods using Method 3 (transaction value of similar goods)</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-4-deductive-method">Valuing imported goods using Method 4 (deductive method)</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-5-computed-value">Valuing imported goods using Method 5 (computed value)</a>
        </li>
        <li class="gem-c-related-navigation__link">
          <a href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-6-fall-back-method">Valuing imported goods using Method 6 (fall-back method)</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
