<div class="govuk-grid-column-one-third">
  <%= related_navigation(
        title: 'Related content',
        heading_attributes: { data: { track_count: 'sidebarRelatedItemSection' } },
        nav_attributes: {
          aria: { labelledby: 'related-nav-related_items-40a88cdf' },
          data: { module: 'gem-toggle', gem_toggle_module_started: true },
        },
        list_attributes: { data: { module: 'gem-track-click', gem_track_click_module_started: true } },
        links: [
          ['Working out the customs value of your imported goods', 'https://www.gov.uk/government/collections/working-out-the-customs-value-of-your-imported-goods'],
          ['Valuing imported goods using Method 1 (transaction value)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-1-transaction-value'],
          ['Valuing imported goods using Method 2 (transaction value of identical goods)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-2-transaction-value-of-identical-goods'],
          ['Valuing imported goods using Method 3 (transaction value of similar goods)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-3-transaction-value-of-similar-goods'],
          ['Valuing imported goods using Method 4 (deductive method)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-4-deductive-method'],
          ['Valuing imported goods using Method 5 (computed value)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-5-computed-value'],
          ['Valuing imported goods using Method 6 (fall-back method)', 'https://www.gov.uk/guidance/valuing-imported-goods-using-method-6-fall-back-method'],
        ],
      ) %>
</div>
