<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.spv_rates'),
      [
        [t('breadcrumb.home'), find_commodity_path],
        [t('breadcrumb.tools'), tools_path]
      ]
    ) %>
<% end %>

<div class="govuk-grid-row">
  <% if @by_code %>
    <%= render 'by_code' %>
  <% else %>
    <%= render 'by_date' %>
  <% end %>

  <%= render 'sidebar' %>
</div>
