 <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    This service is in an invite-only testing phase. There might be some errors in the data and notifications during testing. You should not rely exclusively on this service and report any errors or omissions.
  </div>
</div>
