<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <%= @header %>
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          <%= @message.html_safe %>
        </p>
        <p class="govuk-body">
          You can now close this window.
        </p>
        <p class="govuk-body govuk-!-display-none">
          <%= link_to 'What did you think of this service?', feedback_path, class: 'govuk-link' %>
          (takes 30 seconds)
        </p>
      </div>
    </div>
    <!-- Call to action section to be deleted for MyOTT public beta-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="call-to-action">
          <h2 class="govuk-heading-m">What did you think of this pilot service?</h2>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfNf37-MVrHE6g93JJv4xbDChcMLc81b_CAFhStINEad2ER3g/viewform" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Complete the survey
            <%= render 'shared/start_arrow' %>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
