<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Manage your subscription</h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">You have selected <%= @amount_of_selected_chapters %> chapter<%= @amount_of_selected_chapters == 1 ? "" : "s" %></h2>
    <p class="govuk-body">You can edit your chapter preference at any time.</p>

    <%= render 'details_selected_sections_chapters', selected_sections_chapters: @selected_sections_chapters %>

    <p class="govuk-body"><a href=<%= myott_chapter_selection_path %>>Edit your chapter preferences</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Unsubscribe</h2>
    <p class="govuk-body"><a href="">Unsubscribe from all updates</a></p>
  </div>
</div>
