<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Manage subscriptions for receiving tariff updates</h1>
    <p class="govuk-body">Subscription for <strong><%= @email %></strong></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Select the chapters you want tariff updates about</h2>
    <p class="govuk-body"><a href=<%= myott_preference_selection_path %>>Select the chapters you are interested in</a> to customize the emails you receive from the UK Trade Tariff Service.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Unsubscribe from all updates</h2>
    <p class="govuk-body">This stops all tariff update emails from being sent to you.</p>
    <p class="govuk-body"><a href="">Unsubscribe from all updates</a></p>
  </div>
</div>
