<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Verification link invalid</h1>

    <p class="govuk-body">This could be because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the verification link has expired</li>
      <li>you have switched web browser</li>
    </ul>

    <p class="govuk-body">
      To resend the verification email, continue to create and manage your tariff watch lists.
    </p>

    <a href="<%= myott_start_path %>" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
  </div>
</div>
