<% myott_page_title "Subscribe and manage" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render 'banner' %>
    <h1 class="govuk-heading-l">Create and manage your tariff watch lists</h1>

     <p class="govuk-body">
      Stay up to date by managing your updates from the UK Trade Tariff Service.
    </p>

    <h2 class="govuk-heading-m">What is this service for?</h2>

    <p class="govuk-body">
      This service can be used by anyone who needs to stay informed about changes to UK tariff data for imports and exports.
    </p>

    <p class="govuk-body">You cannot use this service to get Northern Ireland Online Tariff updates.</p>

    <h2 class="govuk-heading-m">What updates can I receive?</h2>

    <ol class="govuk-list govuk-list--number">
      <strong><li>Commodity updates:</li></strong>
        <p class="govuk-body">Receive only updates based on the commodity codes you’re interested in.</p>
      <strong><li>Stop Press updates:</li></strong>
        <p class="govuk-body">Select which chapters you’re interested in and you will be informed when there are changes impacting these chapters.</p>
    </ol>

    <p class="govuk-inset-text">
      You can change your choices at any time regardless of which update option you choose.
    </p>


    <a href="<%= myott_path %>" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <%= render 'shared/start_arrow' %>
    </a>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Manage your subscription</h2>

    <p class="govuk-body">
      Once you are subscribed, you can manage your subscription,
      change your preferences or unsubscribe from all emails.
    </p>

    <a href="<%= myott_path %>" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Continue
    </a>
  </div>
</div>
