<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Subscribe and manage tariff updates</h1>

    <p class="govuk-body">
      Stay up to date with the latest tariff updates by subscribing to Stop Press alerts.
    </p>
    <p class="govuk-body">
      This service can be used by anyone who needs to stay informed about updates
      to import or export measures and changes to the tariff data structure.
    </p>

    <p class="govuk-body"><strong>What you need to do:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Enter your email address</li>
      <li>Confirm you email address to subscribe</li>
      <li>Choose your preferences</li>
    </ul>

    <a href="<%= myott_path %>" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <%= render 'shared/start_arrow' %>
    </a>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Manage your subscription</h2>

    <p class="govuk-body">
      Once you are subscribed you can manage your subscription,
      change your preferences or unsubscribe from all emails
    </p>

    <a href="<%= myott_path %>" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Continue
    </a>
  </div>
</div>
