<%= govuk_details(summary_text: "Product-specific rules for commodity #{commodity.formatted_commodity_code}") do %>
  <%- if scheme.rules.any? -%>
    <%= render 'duty_calculator/steps/duty/calculations/rules_of_origin/rules_table', rules: scheme.rules %>
  <%- else -%>
    <p>
      There are no product-specific rules for commodity <%= commodity.formatted_commodity_code %>
    </p>
  <%- end -%>
<% end %>
