<%= render 'duty_calculator/steps/shared/back_link' %>

<span class="govuk-caption-xl">Calculate import duties</span>
<h1 class="govuk-heading-xl">Check your answers</h1>
<%= govuk_summary_list(rows: [
  {
    key: { text: 'Commodity code' },
    value: { text: commodity.formatted_commodity_code },
    actions: [{ href: sections_url }],
  },
  *@decorated_step.user_answers.map do |entry|
    {
      key: { text: entry[:label] },
      value: { text: entry[:value] },
      actions: [{ href: @decorated_step.path_for(key: entry[:key]) }],
    }
  end,
]) %>
<%= govuk_button_link_to('Calculate import duties', @decorated_step.next_step_path) %>
