<div class="govuk-inset-text govuk-inset-text--s nhs-grey-5 explainer">
    <h3>Check duties and customs procedures for exporting goods</h3>

    <% if eu_member %>
      <p>Find information about how to move goods from the UK to <%= country_name %>.</p>
    <% else %>
      <p>Find information about how to move goods from the UK to the rest of the world.</p>
    <% end %>

    <p>Use this service to check:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>rules and restrictions</li>
        <li>tax and duty rates</li>
        <li>what exporting documents you need</li>
    </ul>

    <p>
      <%= check_how_to_export_goods_link(commodity_code: declarable.commodity_code_for_check_duties_service,
                                         country_code: country_code,
                                         country_name: country_name,
                                         eu_member: eu_member ) %>
    </p>
</div>
