<% if measure_conditions_with_guidance.any? %>
  <%= govuk_details(summary_text: 'Guidance for completing CDS Data Element 2/3') do %>
    <div class="govuk-!-font-size-16">
      <%= govuk_table(classes: 'govuk-!-margin-bottom-2') do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(text: 'Document code') %>
            <% row.with_cell(text: 'CDS guidance') %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% measure_conditions_with_guidance.each do |mc| %>
            <% body.with_row do |row| %>
              <% row.with_cell(text: mc.document_code) %>
              <% row.with_cell(classes: 'tariff-markdown') do %>
                <%= mc.guidance_cds_html %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
