<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Guidance for completing Box 44 or Data Element 2/3</span>
  </summary>
  <div class="govuk-details__text  govuk-!-font-size-16">
    <table class="govuk-table govuk-!-margin-bottom-2">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document code</th>
          <th scope="col" class="govuk-table__header">CDS guidance</th>
          <th scope="col" class="govuk-table__header">CHIEF guidance</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% measure_conditions_with_guidance.each do |mc| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= mc.document_code %>
            </td>
            <td class="govuk-table__cell">
              <%= govspeak mc.guidance_cds %>
            </td>
            <td class="govuk-table__cell">
              <%= govspeak mc.guidance_chief %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</details>
