<div class='conditions' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-conditions'>
  <article>
    <%= render MeasureConditionDialog.build(declarable, measure).options %>
  </article>
</div>
