<% if measure.effective_start_date.present? %>
  <p class="govuk-body">
    <%= image_tag('calendar.png') %><%= present_from_to(measure.effective_start_date, measure.effective_end_date) %>
  </p>
<% end %>
