<div class='conditions' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-conditions'>
  <article>
    <%= render modal_partial_options_for(declarable, measure) %>
  </article>
</div>
