<% if defined?(header) %>
  <h3 class="govuk-heading-m">
    <%= header %>
  </h3>
<% end %>

<%= govuk_warning_text(icon_fallback_text: 'Info', html_attributes: { id: 'no-export-measures-warning' }) do %>
  <% if defined?(no_uk_eu_measures) && no_uk_eu_measures %>
    There are no UK or EU export measures for this commodity on this date.
  <% else %>
    There are no export measures for this commodity on this date.
  <% end %>
<% end %>
