<% if defined?(header) %>
  <h3 class="govuk-heading-m">
    <%= header %>
  </h3>
<% end %>

<div class="govuk-warning-text" id='no-export-measures-warning'>
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Info</span>
    <% if defined?(no_uk_eu_measures) && no_uk_eu_measures %>
      There are no UK or EU export measures for this commodity on this date.
    <% else %>
      There are no export measures for this commodity on this date.
    <% end %>
  </strong>
</div>
