<% content_for :top_breadcrumbs do %>
  <%= generate_breadcrumbs(
    t('breadcrumb.feedback'),
    [
      [t('breadcrumb.home'), home_path],
      [t('breadcrumb.help'), help_path],
    ]
  ) %>
<% end %>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Feedback submitted
  </h1>
</div>

<p>Thank you for your valuable feedback.</p>

<h2>What happens next</h2>

<p>We’ve sent your feedback to the Online Trade Tariff team</p>

<% if @referrer.present? %>
  <p>
    <a href=<%= @referrer %>>Return to page</a>
  </p>
<% end %>
