<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Thank you for your feedback.
  </h1>
  <div class="govuk-panel__body">
    We will get back to you shortly.
  </div>
</div>
