name: ci

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  TERRAFORM_VERSION: 1.13.5
  PYTHON_VERSION: 3

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-tflint@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-terraform-docs@main
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.PRIVATE_SSH_KEY }}
      - run: bundle exec brakeman
      - run: pip install pre-commit
      - run: pre-commit run --all-files --show-diff-on-failure

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: actions/setup-node@v6
        with:
          cache: yarn

      - run: yarn install --frozen-lockfile

      - run: bin/rails assets:precompile

      - run: bundle exec rspec
