<h3 class="govuk-heading-s govuk-!-margin-bottom-3" id='customs_duties'>Customs duties</h3>

<!-- <div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <li>
      A third country duty is the duty payable in the absence of any other type of tariff measure.
    </li>
    <li>
      A supplementary unit is used when an additional measurement unit is needed, for example, the quantity as well as the weight of the products.
    </li>

    <li>
      A <%= link_to('tariff preference', "https://www.gov.uk/guidance/import-and-export-goods-using-preference-agreements", target: "_blank") %> means that you pay a lower or nil rate of import duty on your goods. To qualify, goods must meet the <%= link_to('rules of origin', 'https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin', target: '_blank') %>.
    </li>
  </ul>
</div>
-->
