<h3 class="govuk-heading-s govuk-!-margin-bottom-3" id='quotas'>Quotas</h3>

<!-- <div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <p class='govuk-body'>
      Quotas allow a limited amount of goods to be imported at a lower duty rate. Once the quota has been used up, you will revert to your out-of-quota rate – which may be the third country duty or a preferential rate.
    </p>
    <p class='govuk-body'>
      Quotas can be non-preferential (open to many countries) or preferential (restricted to a particular trading partner).
    </p>
  </ul>
</div>
-->