<h3 class="govuk-heading-m" id='trade_remedies'>Trade remedies</caption>

<div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <p class='govuk-body'>
      World Trade Organization rules prevent artificially cheap imports from damaging markets. This guide explains <%= link_to('how anti-dumping duties and ‘countervailing’ (or anti-subsidy) measures work', 'https://www.gov.uk/guidance/anti-dumping-duty-to-protect-eu-businesses-against-cheap-imports', target: '_blank') %>.
    </p>
  </ul>
</div>
