<h3 class="govuk-heading-m" id='uk_import_controls'>UK import controls</caption>

<div class="govuk-inset-text">
  If you are bringing goods into Northern Ireland from outside of the UK and the European Union, you will need to ensure that you adhere to UK import controls.
</div>
