<h3 class="govuk-heading-s govuk-!-margin-bottom-3" id='uk_import_controls'>
  <%= TradeTariffFrontend::ServiceChooser.uk? ? 'Import controls' : 'UK import controls' %>
</h3>

<!-- <div class="govuk-inset-text">
  If you are bringing goods into Northern Ireland from outside of the UK and the European Union, you will need to ensure that you adhere to UK import controls.
</div>
-->