<h3 class="govuk-heading-s govuk-!-margin-bottom-3" id='vat_excise'>VAT and excise</h3>

<!-- <div class="govuk-inset-text">
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <%= link_to("<abbr title=\"Value Added Tax\">VAT</abbr>".html_safe, 'https://www.gov.uk/vat-rates', target:'_blank') %> is a national tax charged in addition to any other duties that apply.
    </li>

    <li>
      <%= link_to('Excise', 'https://www.gov.uk/government/publications/uk-trade-tariff-excise-duties-reliefs-drawbacks-and-allowances/uk-trade-tariff-excise-duties-reliefs-drawbacks-and-allowances', target: '_blank') %> is an additional tax levied on certain goods and commodities produced or sold within a country and on licences granted for certain activities.
    </li>
  </ul>
</div>
-->