<h3 class="govuk-heading-s govuk-!-margin-bottom-3" id='xi_import_controls'>EU import controls</h3>

<!-- <div class="govuk-inset-text">
  Check <%= link_to('how to move goods into and out of Northern Ireland', 'https://www.gov.uk/guidance/trading-and-moving-goods-in-and-out-of-northern-ireland' , target: '_blank') %>.
</div>
-->